@import url('./reset.css');
@import url('./prism-dracula.css');

:root {
  --body-font: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  --heading-font: monospace;
}


/* These are Nord colors: https://www.nordtheme.com/docs/colors-and-palettes */
html.dark {
  --text-content-color: #eceff4;
  --text-contrast-color: #4c566a;
  --subtext-content-color: #5e81ac;
  --background-color: #2e3440;
  --background-support-color: #3b4252;
  --heading-color: #81a1c1;
  --heading-support-color: #4c566a;
  --link-color-normal: #8fbcbb;
  --link-color-hover: #88c0d0;
  --light-border-color: #434c5e;
  --blockquote-border-color: #4682b4b8;
  --blockquote-background-color: #3b4252;
}

html.light {
  --text-content-color: rgb(16, 16, 16);
  --text-contrast-color: rgb(255, 255, 255);
  --subtext-content-color: rgba(0, 0, 0, 0.8);
  --background-color: rgb(255, 255, 255);
  --heading-color: rgb(132, 0, 0);
  --link-color-normal: rgba(96, 165, 221, 1);
  --link-color-hover: rgba(96, 165, 221, 1);
  --light-border-color: rgba(255, 255, 255, .2);
  --blockquote-border-color: #4682b4b8;
  --blockquote-background-color: #f9f9ff;
}

::selection {
  color: var(--text-contrast-color);
  background-color: var(--heading-color);
}

body {
  visibility: var(--styles-loaded);
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.75;
  background-color: var(--background-color);
  color: var(--text-content-color);
  padding: 0;
  margin: 0;
}

a,
a:visited {
  color: var(--text-content-color);
  text-decoration: dotted underline;
  text-decoration-color: var(--link-color-normal);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color-hover);
}

p {
  text-align: justify;
}

article {
  max-width: min(680px, 100%);
  margin-left: auto;
  margin-right: auto;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
  position: relative;
  margin-top: 1rem;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
}

@media screen and (min-width: 720px) {

  article h1,
  article h2,
  article h3,
  article h4,
  article h5 {
    margin-top: 2rem;
  }

  article h2:before,
  article h3:before,
  article h4:before {
    position: absolute;
    color: var(--heading-support-color);
    font-size: 100%;
    right: 101%;
  }

  article h2:before {
    content: '##';
  }

  article h3:before {
    content: '###';
  }

  article h4:before {
    content: '####';
  }
}

article h2 {
  font-size: 150%;
}

article h3 {
  font-size: 125%;
}

article h4 {
  font-size: 110%;
}

article p {
  margin-top: 1em;
  margin-bottom: 0;
}

article ul {
  margin-left: 1em;
  list-style-type: none;
}

article ol {
  margin-left: 1em;
  list-style-type: none;
  counter-reset: li;
}

article ul li, article ol li {
  margin-bottom: 0.5rem;
}

article>ul, article>ol {
  margin-top: 1em;
}

article ul li::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  content: '•';
  color: var(--heading-color);
}

article ol li {
  counter-increment: li;
}

article ol li::before {
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  content: counter(li);
  text-align: right;
  direction: rtl;
  color: var(--heading-color);
}

article > pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

article iframe {
  margin-top: 2rem;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  background-color: var(--blockquote-background-color);
  font-size: 120%;
  line-height: 1.6;
  font-style: italic;
  border-style: none;
  border-left-style: solid;
  border-width: 0.5rem;
  border-color: var(--blockquote-border-color);
}

hr {
  border: 0;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr:after {
  display: block;
  content: '***';
  text-align: center;
  opacity: .5;
}

nav {
  background-color: var(--background-support-color);
  padding: 1rem 0;
  margin-bottom: 3rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .menu {
  display: flex;
  max-width: min(680px, 100%);
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
}

nav .menu li {
  margin-right: 1em;
}

nav .menu li .home-link {
  margin-right: 3em;
  font-weight: bold;
}

header h1 {
  max-width: min(680px, 100%);
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
}

header .times {
  max-width: min(680px, 100%);
  margin-left: auto;
  margin-right: auto;
  color: var(--subtext-content-color);
}

footer {
  background-color: var(--background-support-color);
  padding: 2rem 0;
  margin-top: 3rem;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

footer .webring {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .webring a {
  padding: 0 2rem;
}

footer .cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}
