{%- if date or updated -%}
  <div class="mb-4 opacity-75">
    {%- if date -%}
    <time class="dt-published" datetime="{{ date | dateFormat(true) }}">
      {{ date | dateFormat }}
    </time>
    {%- endif -%}
    {%- if updated -%}
    <time class="dt-updated" datetime="{{ updated | dateFormat(true) }}">
      (Updated {{ updated | dateFormat }})
    </time>
    {%- endif -%}
  </div>
{%- endif -%}
