<footer class="stack center">
  <hr>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="inline-list">
    <li><b>Here:</b></li>
      {%- for navPage in navPages -%}
      <li>
        <a href="{{ navPage.url }}" title="{{ navPage.key }}">{{ navPage.title }}</a>
      </li>
      {%- endfor -%}
  </ul>
  <ul class="inline-list">
    <li><b>Elsewhere:</b></li>
        <li>
          <a rel="noopener me" href="https://social.lol/@drhayes">@drhayes@social.lol</a>
        </li>
        <li>
          <a rel="noopener me" href="https://github.com/drhayes">GitHub</a>
        </li>
        <li>
          <a rel="noopener me" href="https://proven.lol/f3518f">Proof</a>
        </li>
  </ul>
  <div class="with-sidebar">
    <div class="align-self:center">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="A Creative Commons Attribution-ShareAlike badge" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" width="88px" height="31px">
      </a>
    </div>
    <p>
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
  </div>
  <div class="align-self:center">
    {% include "webring.njk" %}
  </div>
</footer>

