<nav class="center" aria-labelledby="site-link">
  <ul>
    <li>
      <a href="/" id="site-link">drhayes.io</a>
    </li>
    {% for item in menu %}
      <li>
        <a href="{{ item.url }}"{%- if page.url == item.url %} aria-current="page"{%- endif -%}>{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
