{%- set excerpt -%}
{%- if excerptText %}
  {{ excerptText | safe }}
{%- elseif page.excerpt %}
  {{ page.excerpt | safe }}
{%- elseif description %}
  {{ description | safe }}
{%- else %}
  {{ site.subtitle | safe }}
{%- endif %}
{%- endset %}
{%- set ogImageName %}
{%- if generateCustomOpengraphImage %}
  og-images/{{ title | slugify }}
  {%- else %}img/og-image{%- endif %}
{%- endset %}
  <meta name="generator" content="{{ eleventy.generator }}"/>
  <meta name="description" content="{{ excerpt | trim }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ title | titleify }}" />
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ excerpt | trim }}"/>
  <meta property="og:url" content="{{ global.baseUrl }}{{ page.url }}"/>
  <meta property="og:site_name" content="drhayes.io"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content="{{ global.baseUrl }}/{{ ogImageName | trim }}.png"/>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ title | titleify }}"/>
  <meta name="twitter:site" content="@type__error"/>
  <meta name="twitter:description" content="{{ excerpt | trim }}"/>
  <meta name="twitter:image" content="{{ global.baseUrl }}/{{ ogImageName | trim }}.png"/>

  <!-- webmention -->
  <link rel="webmention" href="https://webmention.io/{{ site.domain }}/webmention"/>
  <link rel="pingback" href="https://webmention.io/{{ site.domain }}/xmlrpc"/>
  <link rel="alternate" href="{{ global.baseUrl + '/feed.xml' | url }}" type="application/atom+xml" title="{{ site.name }} · all writing"/>
  <link rel="alternate" href="{{ global.baseUrl + '/feed.json' | url }}" type="application/json" title="{{ site.name }} · all writing"/>

  <!-- preloads -->
  <link rel="preload" href="/fonts/berkeley-mono/BerkeleyMono-Regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="/fonts/berkeley-mono/BerkeleyMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>

  <!-- misc -->
  <link rel="pgpkey" href="/key.txt">
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="{{ site.googleSiteVerification }}">

  <!-- indieauth -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link href="mailto:hi@drhayes.io" rel="me">
  <link href="https://github.com/drhayes" rel="me">
  <link href="https://social.lol/@drhayes" rel="me">
  <link rel="canonical" href="{{ global.baseUrl }}{{ page.url }}">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="author" href="{{ global.baseUrl }}/humans.txt">
