<ol class="list-style-type:none" style="padding-inline-start:0;">
  {%- for post in postList | sort -%}
  <li class="two-line">
    <div>
      {%- if post.data.updated | isValidIsoDate %}
      <time class="date">{{ post.data.updated | dateFormat }}</time>
      {%- elif post.data.date | isValidIsoDate %}
      <time class="date">{{ post.data.date | dateFormat }}</time>
      {% endif -%}
    </div>
    <div>
      <a href="{{ post.url }}" class="link">{{ post.data.title }}</a>
      {% if post.data.draft %}
      {% include "draft-badge.njk" %}
      {% endif %}
    </div>
  </li>
  {%- endfor -%}
</ol>

