<ol class="post-list">
  {%- for post in postList -%}
    <li class="line">
      <a href="{{ post.url }}" class="link">{{ post.data.title }}</a>
      <span class="on">on</span>
      <time class="date">{{ post.data.date | dateFormat }}</time>
      {% if post.data.draft %}
        {% include "draft-badge.njk" %}
      {% endif %}
    </li>
  {%- endfor -%}
</ol>

