<ol class="post-links">
  {%- for post in postList -%}
    <li class="line">
      <time class="date">{{ post.data.date | dateFormat }}</time>
      <a href="{{ post.url }}" class="link">{{ post.data.title }}</a>
    </li>
  {%- endfor -%}
</ol>

