{%- if tags -%}
  <ul class="flex flex-wrap p-0 m-0 mb-16 justify-start opacity-75">
    {%- for tag in tags -%}
      <li class="mr-8">
        <a href="/tags/{{ tag }}">:{{ tag }}:</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
