<header>
  {% if tags %}
  <div class="tags-container">
    <ul class="tags">
      {% for tag in tags | tagFilter %}
        <li><a href="/tags/{{ tag | slugify }}" class="tag p-category" rel="category tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <h1 class="p-name">
    {% if page.url %}
      <a href="{{ page.url }}" class="u-url">
    {% endif %}
      {{ title }}
    {% if page.url %}
      </a>
    {% endif %}
  </h1>

  {% if description %}
  <p class="summary p-summary">
    {{ description }}
  </p>
  {% endif %}

  <div class="times">
    {% if date %}
      <time datetime="{{ date | dateFormat(true) }}" class="dt-published">{{ date | dateFormat }}</time>
    {%- endif -%}
    {%- if date and updated -%}, {%- endif -%}
    {%- if updated -%}
      <time datetime="{{ updated | dateFormat(true) }}" class="dt-updated">updated: {{ updated | dateFormat }}</time>
    {% endif %}
    {% if draft %}
      {% include "draft-badge.njk" %}
    {% endif %}
  </div>


</header>
