<header>
<h1>{{ title }}</h1>
<div class="subtitle-stuff">
  <div class="times">
    {% if date %}
      <time datetime="{{ date | dateFormat(true) }}">{{ date | dateFormat }}</time>
    {% endif %}
    {% if updated %}
      <time datetime="{{ updated | dateFormat(true) }}">(Updated: {{ updated | dateFormat }})</time>
    {% endif %}
  </div>
  <div class="tags-container">
    <ul class="tags">
      {% for tag in tags %}
        <li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
</header>
