<header class="stack">
  {% if title %}
  <h1 class="p-name p-bridgy-mastodon-content">
    {{ title }}
  </h1>
  {% endif %}

  <span class="hidden h-card p-author">{{ site.author.name }}</span>

  {% if date | isValidIsoDate or updated | isValidIsoDate or tags %}
  <div class="post-metadata">
    {% if date or updated %}
    <div>
      {% if date | isValidIsoDate %}
      <time datetime="{{ date | datetime }}" class="dt-published">{{ date | dateformat }}</time>{%- endif -%}
      {%- if updated | isValidIsoDate -%}
      {%- if date | isValidIsoDate and updated | isValidIsoDate -%}, {% endif %}
      <span>updated:&nbsp;<time datetime="{{ updated | datetime }}" class="dt-updated">{{ updated | dateformat }}</time></span>
      {% endif %}
    </div>
    {% endif %}
    {% if tags %}
    {% set tags = tags | onlyRealTags %}
    <ul class="inline-list tags" style="--space:var(--s0);">
      {% for tag in tags %}
      <li>
        {% if collections.writingByTag.get(tag).length > 1 %}
        <a href="/tags/{{ tag | slugify }}" class="tag p-category" rel="category tag">{{ tag }}</a>
        {% else %}
        <span class="tag orphan-tag p-category" title="This tag is only in use here!">{{ tag }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}

  {% if inReplyTo %}
    {% set post = inReplyTo | getPost %}
    {% set account = post.attributedTo | getAccount %}
    <h2>In reply to...</h2>
    <article class="box stack u-comment h-cite reply">
      <div class="cluster" style="justify-content:space-between;">
        <div class="with-sidebar e-author h-card" style="--space: var(--s-2);">
          <div>
            <img src="{{ account.icon.url }}" alt="{{ account.name }}" loading="lazy" class="u-photo" width="48" height="48">
          </div>
          <div>
            <a href="{{ account.url }}" rel="noopener noreferrer" class="u-author">
              <span class="p-name">{{ account.name }}</span>
            </a>
          </div>
        </div>
        <small>
          <a href="{{ post.url }}" rel="noopener noreferrer" class="u-in-reply-to">
            <time datetime="{{ post.published | datetime }}" class="dt-published">{{ post.published | dateformat }} at {{ post.published | timeformat }}</time>
          </a>
        </small>
      </div>
      <div class="e-content">
        {{ post.content | safe }}
      </div>
    </article>
  {% endif %}

  {% if description %}
  <p class="p-summary">
    {{ description }}
  </p>
  {% endif %}

  {% if draft %}
  <aside class="box stack draft">
    <h4>This is a draft</h4>
    <p>This one isn't fully baked yet!</p>
  </aside>
  {% endif %}

</header>
