  <section class="webring">
    <a href="https://hotlinewebring.club/drhayes/previous">&laquo; Previous</a>
    <a href="https://hotlinewebring.club">Hotline Webring!</a>
    <a href="https://hotlinewebring.club/drhayes/next">Next &raquo;</a>
  </section>

