  <ul class="inline-list" style="--space: var(--font-size-3xl);">
    <li>
      <a href="https://hotlinewebring.club/drhayes/previous">&laquo; Previous</a>
    </li>
    <li>
      <a href="https://hotlinewebring.club">Hotline Webring!</a>
    </li>
    <li>
      <a href="https://hotlinewebring.club/drhayes/next">Next &raquo;</a>
    </li>
  </ul>

