{{ partial "header.html" . }}

<div id="MainContainer">
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <ol>
  {{ range .Pages.ByDate }}
    <li>
      <a href={{ .Permalink }}>{{ .Title }}</a>
    </li>
  {{ end }}
  </ol>

</div>

{{- partial "footer.html" . -}}
