$border-color: #ccc;

body {
  font-size: 18px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, FreeMono, monospace;
  font-weight: 400;
  background: #fff;
  color: #111;
  line-height: 1.75;
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: darkslateblue;
}

code {
  padding: 0.5rem;
  background-color: #f0f3f3;
  font-style: italic;
}

pre {
  overflow: auto;
  line-height: 1.3;

  code {
  }
}

code {
  background-color: initial;
  font-size: 1rem;
  font-style: initial;
}

.dotted-list {
  li {
    margin-right: .7em;

    &:after {
      content: '·';
    }

    &:last-child {
      &:after {
        content: ' '
      }
    }
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left-style: solid;
  border-width: 0.25rem;
  border-color: steelblue;
  background-color: #f0f0f0;
  // color: #666;
}

article {
  margin-top: 1rem;

  h1,h2,h3,h4,h5 {
    margin-top: 2rem;
    margin-bottom: -.2rem;
  }

  h2,h3,h4,h5 {
    border-bottom: 1px dotted $border-color;
  }

  header {
    margin-bottom: 4rem;
  }

  section {
    margin-top: 4rem;
  }

  aside {
    float: right;
    margin-left: 3rem;
    margin-bottom: 3rem;

    h3 {
      margin-top: 0;
    }

    ul,ol {
      padding: 0;
      list-style-type: none;
    }
  }

  img {
    max-width: 100%;
  }

  .article-content {
    p:first-of-type {
      &::first-letter {
        font-size: 300%;
        font-weight: bold;
        padding: .5rem .9rem;
        margin-right: .5rem;
        border: 1px dotted $border-color;
        float: left;
      }
    }

    blockquote p:first-of-type {
      &::first-letter {
        font-size: inherit;
        font-weight: inherit;
        padding: inherit;
        margin-right: inherit;
        border: none;
        float: none;
      }
    }
  }
}

.content {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  display: block;
  text-align: center;

  img {
    width: 10rem;
    margin-bottom: 1rem;
  }
}

.site-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.site-menu-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  font-size: 90%;

  .tag {
    list-style-type: none;
  }
}

.article-date {
  border-bottom: 1px dotted $border-color;
  text-align: center;
  margin-bottom: 3rem;

  time {
    display: inline-block;
    position: relative;
    top: 1rem;
    background: white;
    padding: 0 1rem;
    font-style: italic;
  }
}

.title {
  text-align: center;
}

.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  .front-page {
    h1 {
      font-size: 1.5rem;
    }

    h2, h3 {
      font-size: 1rem;
    }

    .site-menu {
      flex-direction: row;
    }
  }

  .page-header {
    display: flex;
  }

  .site-menu {
    width: 100%;
    text-align: right;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .site-menu-item {
    display: block;
  }

  article {
    aside {
      float: none;
      // margin: 1rem 0;
      margin: 0;
      margin-bottom: 3rem;
    }

    .article-content {
      p:first-of-type {
        &:first-letter {
          font-size: inherit;
          font-weight: normal;
          padding: 0;
          margin: 0;
          border: none;
          float: none;
        }
      }
    }
  }

  .article-date {
    time {
      top: 0.9rem;
    }
  }

  .site-footer {
    .creative-commons-license {
      flex-direction: column;
    }
  }
}

.blog-posts-list {
  padding-left: 0;
  list-style-type: none;
}

.blog-post {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
    border: none;
  }

  p {
    margin: 0;
  }

}

.game-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;

  .game-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0.5rem;
    width: 25rem;
    height: 25rem;

    .game-title {
      border-bottom: none;

      a {
        color: white;
        text-shadow: 0 0 2rem white;
      }
    }
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px dotted $border-color;

  .creative-commons-license {
    display: flex;
    align-content: flex-start;

    a {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    p {
      margin-top: 0;
    }
  }

  .find-me {
    p {
      margin-top: 0;
    }

    ul {
      padding-left: 1rem;
    }
  }
}

.tag-list {
  padding-left: 0;
  list-style-type: none;
}

.tag-item {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.reading-time {
  font-style: italic;
  font-size: 90%;
  opacity: .8;
}
