---
title: Principles
description: Some ideas I consider important enough to write down.
tags:
  - writing
date: 2023-08-21
---

<dl class="stack">
  {%- for principle in principles %}
    <dt>
      <a href="/principles/{{principle.title | slugify }}" id="{{ principle.title | slugify }}">{{ principle.title }}</a>
    </dt>
    <dd style="margin-block-start:0;">{{ principle.description }}</dd>
  {%- endfor %}
</dl>
