---
title: Principles
description: Some ideas I consider important enough to write down.
override:tags:
  - writing
date: 2023-08-21
eleventyImport:
  collections:
    - principle
---

<dl class="stack">
  {%- for principle in collections.principle | titleSort %}
    <dt>
      <a href="{{principle.page.url}}" id="{{ principle.data.title | slugify }}">{{ principle.data.title }}</a>
    </dt>
    <dd style="margin-block-start:0;">{{ principle.data.description }}</dd>
  {%- endfor %}
</dl>
