---
layout: default.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - stub
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: Things tagged "{{ tag }}"
changefreq: weekly
---
{% set taglist = collections[tag] %}
{% set postList = taglist | reverse %}
<main class="tagged-things">
  {% include "post-list.njk" %}
</main>
