---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: Things tagged "{{ tag }}"
changefreq: weekly
---
{% include "header.njk" %}
<main class="">
  {% include "title-element.njk" %}
  {% set taglist = collections[tag] %}
  {% set postList = taglist | reverse %}
  {% include "post-list.njk" %}
</main>
{% include "footer.njk" %}
