<nav class="page-header">
  <a href="/" class="site-logo">
    <img src="/images/raven.png" alt="drhayes.io">
  </a>

  <ul class="site-menu">
    {% for item in menu %}
    <li class="site-menu-item">
      <a class="" href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% else %}
      <li>Nuthin'</li>
    {% endfor %}
  </ul>
</nav>
