h1,h2,h3,h4,h5,h6 {
  font-family: 'league-gothic-1', Georgia, serif;
  color: steelblue;
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1em;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

em {
  font-style: italic;
}

img {
  width: 100%;
}
