---
layout: list.njk
title: Blog
eleventyExcludeFromCollections: blogPost
pagination:
  data: collections.blogPost
  size: 10
  reverse: true
---
<ol>
  {% for post in pagination.items %}
  <li class="mb-12">
    <section class="flex flex-col items-baseline md:flex-row">
      <div class="opacity-60 mr-8">
        <time datetime="{{ post.data.date | dateFormat(true) }}">
          {{ post.data.date | dateFormat }}
        </time>
      </div>
      <div class="">
        <h2 class="m-0 text-3xl normal-case leading-relaxed">
          <a href="{{ post.url }}" class="">{{ post.data.title }}</a>
        </h2>
        {% if post.data.description %}
          <p class="leading-relaxed">{{ post.data.description }}</p>
        {% endif %}
        {% if post.data.tags %}
          <ul class="flex flex-start flex-wrap opacity-60">
            {%- for tag in post.data.tags -%}
              {% if tag != 'blogPost' %}
              <li class="leading-loose">
                <a href="/tags/{{ tag }}" class="mr-8">#{{ tag }}</a>
              </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        {% endif %}
        <p class="opacity-80 italic leading-loose">{{ post | readingTime }} read</p>
      </div>
    </section>
  </li>
  {% endfor %}
</ol>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">Next</a>
{% endif %}
