---
layout: list.njk
title: Blog
eleventyExcludeFromCollections: blogPost
pagination:
  data: collections.blogPost
  size: 10
  reverse: true
---
<ol class="blog-posts-list">
  {% for post in pagination.items %}
  <li class="blog-post-item">
    <section class="blog-post">
      <div class="date-part">
        <time datetime="{{ post.data.date | dateFormat(true) }}">
          {{ post.data.date | dateFormat }}
        </time>
      </div>
      <div class="content-part">
        <h2>
          <a href="{{ post.url }}" class="">{{ post.data.title }}</a>
        </h2>
        {% if post.data.description %}
          <p>{{ post.data.description }}</p>
        {% endif %}
        {% if post.data.tags %}
          <ul class="tags dotted-list">
            {%- for tag in post.data.tags -%}
              {% if tag != 'blogPost' %}
              <li class="tag">
                <a href="/tags/{{ tag }}" class="">{{ tag }}</a>
              </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        {% endif %}
        <p class="reading-time">{{ post | readingTime }} read</p>
      </div>
    </section>
  </li>
  {% endfor %}
</ol>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">Next</a>
{% endif %}
