---
layout: layouts/list.njk
title: Blog
permalink: /blog/index.html
pagination:
  data: collections.blogPosts
  size: 10
  reverse: true
---
<ol class="blog-posts-list">
  {% for post in pagination.items %}
  <li class="blog-post-item">
    <article class="blog-post">
      <div class="date-column">
        <time datetime="{{ post.data.date | dateformat('YYYY-MM-DDTHH:mm:ssZ') }}">
                  {{ post.data.date | dateformat('YYYY.MM.DD') }}
                </time>
      </div>
      <div class="title-column">
        <h2>
          <a href="{{ post.url }}" class="">{{ post.data.title }}</a>
        </h2>
        {% if post.data.tags %}
          <ul class="tags dotted-list">
            {%- for tag in post.data.tags -%}
              <li class="tag">
                <a href="/tags/{{ tag }}" class="">{{ tag }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {% endif %}
        {% if post.data.description %}
          <p>{{ post.data.description }}</p>
        {% endif %}
        <p class="reading-time">{{ post | readingTime }} read</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ol>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{ pagination.href.next }}">Next</a>
{% endif %}
