{{ partial "header.html" . }}

<div id="MainContainer">

  <h1 id="mainHeader">
    drhayes.io
    <small>The personal website of David R. Hayes </small>
  </h1>

  <section class="frontPage">
    <h2>Here</h2>
    <ul>
    {{ range first 10 .Data.Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </section>

  <section class="frontPage">
    <h2>Elsewhere</h2>
    <ul>
      <li><a href="https://mastodon.technology/@drhayes" rel="me">@drhayes@mastodon.technology</a></li>
      <li><a href="https://keybase.io/drhayes" rel="me">Keybase</a></li>
      <li><a href="https://github.com/drhayes">GitHub</a></li>
      <li><a href="https://drhayes.tumblr.com">Tumblr</a></li>
      <li><a href="https://www.goodreads.com/drhayes">Goodreads</a></li>
    </ul>
  </section>

</div>

{{ partial "footer.html" . }}
