$border-color: #ccc;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  font-family: "Monaco","Inconsolata", "Consolas", "Ubuntu Mono", "Liberation Mono", "Menlo", "FreeMono", monospace;
  // font-family: monospace;
  background: #333;
  color: #f7f7ff;
  line-height: 1.6;

  article {
    section {
      margin-top: 0;
    }
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}

a, a:visited {
  color: white;
  text-decoration: none;
  color: inherit;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

code {
  padding: 0.5rem;
  background-color: #f0f3f3;
  font-style: italic;
}

pre {
  overflow: auto;
  line-height: 1.3;

  code {
  }
}

code {
  background-color: initial;
  font-size: 1rem;
  font-style: initial;
}

.hidden {
  display: none;
}

.dotted-list {
  li {
    margin-right: .7em;

    &:after {
      content: '·';
    }

    &:last-child {
      &:after {
        content: ' '
      }
    }
  }
}

.page-header {
  margin-bottom: 2rem;
}

.c-blockquote {
  margin-left: 0;
  background-color: #f9f9f9;
  padding: 1rem;
  border-left-style: solid;
  border-width: 0.5rem;
  border-color: #4682b4b8;
  font-style: italic;
  font-size: 125%;

  blockquote {
    margin: 0;
    padding: 0;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .c-blockquote__attribution {
    text-align: right;

    &:before {
      content: '— ';
    }
  }
}

article {
  margin-top: 1rem;

  h1,h2,h3,h4,h5 {
    margin-top: 2rem;
    margin-bottom: -.2rem;
    font-weight: bold;
  }

  header {
    margin-bottom: 1rem;
  }

  section {
    margin-top: 4rem;
  }

  img {
    max-width: 100%;
  }

  .article-content {
    margin-top: 0;

    p:first-of-type {
      &::first-letter {
        font-size: 300%;
        font-weight: bold;
        padding: .5rem .9rem;
        margin-right: .5rem;
        border: 1px dotted $border-color;
        float: left;
      }
    }

    blockquote p:first-of-type {
      &::first-letter {
        font-size: inherit;
        font-weight: inherit;
        padding: inherit;
        margin-right: inherit;
        border: none;
        float: none;
      }
    }
  }
}

.content {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  svg {
    width: 15rem;
    fill: white;
  }
}

.site-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-menu-item {
  margin-right: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  justify-content: flex-start;
  opacity: 0.75;

  .tag {
    margin-right: 0.8em;
    list-style-type: none;

    a {
      &:before {
        content: '#';
      }
    }
  }
}

.article-date {
  margin-bottom: .5em;
  opacity: 0.75;

  time {
    display: inline;
  }

  .updated-date {
    &:before {
      content: '(Updated ';
    }

    &:after {
      content: ')';
    }
  }
}

.title {
  position: relative;
  border-bottom: 3px dotted $border-color;
  padding-bottom: .5em;
  margin-top: 0;
  margin-bottom: .5em;

  &:after {
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    bottom: 3px;
    border-bottom: 3px dotted $border-color;
  }
}

.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .site-logo svg {
    width: 30rem;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  .front-page {
    h1 {
      font-size: 1.5rem;
    }

    h2, h3 {
      font-size: 1rem;
    }

    .site-menu {
      flex-direction: row;
    }

    .site-logo svg {
      width: 20rem;
    }
  }

  .page-header {
    display: flex;
  }

  .site-menu {
    width: 100%;
    text-align: right;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .site-menu-item {
    display: block;
  }

  article {
    .article-content {
      p:first-of-type {
        &:first-letter {
          font-size: inherit;
          font-weight: normal;
          padding: 0;
          margin: 0;
          border: none;
          float: none;
        }
      }
    }
  }

  .article-date {
    time {
      top: 0.9rem;
    }
  }

  .site-footer {
    .creative-commons-license {
      flex-direction: column;
    }
  }

  .blog-posts-list {
    .blog-post-item {
      .blog-post {
        flex-direction: column !important;
      }
    }
  }

  .pages-that-link-here {
    ol, ul {
      li {
        width: 100% !important;
      }
    }
  }

}

.blog-posts-list {
  padding-left: 0;
  list-style-type: none;

  .blog-post-item {
    margin-bottom: 3rem;

    article {
      margin: 0;
    }

    .blog-post {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      p {
        margin: 0;
      }

      .date-part {
        flex: 1;

        time {
          opacity: .6;
        }
      }

      .content-part {
        flex: 4;

        h2 {
          margin: 0;
          border: none;
        }

        .tags {
          justify-content: flex-start;
          margin: 0.5rem 0;
          opacity: .6
        }
      }
    }
  }
}

.game-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;

  .game-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0.5rem;
    width: 25rem;
    height: 25rem;

    .game-title {
      border-bottom: none;

      a {
        color: white;
        text-shadow: 0 0 2rem white;
      }
    }
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  margin-top: 2rem;
  padding-top: 2rem;

  .creative-commons-license {
    display: flex;
    align-items: flex-end;

    .license-link {
      margin-right: 1rem;
      text-decoration: none;

      img {
        vertical-align: baseline;
      }
    }

  }

  .hotline-webring {
    ul {
      display: flex;

      li {
        margin: 2rem;
        list-style-type: none;
      }
    }
  }
}

.tag-list {
  padding-left: 0;
  list-style-type: none;
}

.tag-item {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.reading-time {
  font-style: italic;
  font-size: 90%;
  opacity: .8;
}

.pages-that-link-here {
  margin-top: 2rem;
  max-height: 30rem;
  overflow: auto;

  summary {
    cursor: pointer;
  }

  ul,ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;

    li {
      width: 40%;
      margin: 1rem;
    }
  }

  .page-summary {
    padding: .5rem;
    border: 1px dotted #666;
  }
}

.page-summary {
  h4 {
    border-bottom: 0;
    margin-top: 0;
  }

  p {
    margin-top: 1rem;
  }
}

.draft-notification {
  font-size: 120%;
  font-weight: bold;
  padding: .5em;
  background-color: rgba(192, 232, 255, .1);
  color: steelblue;
  text-align: center;

  a {
    text-decoration: none;
  }
}
