@charset "UTF-8";
/* Reset.css
* Props to Eric Meyer.
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Site-specific.
*/
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  line-height: 1.6em;
  background-color: #f0f0f0;
  color: #333;
}

a {
  text-decoration: none;
  color: steelblue;
  border-bottom: 1px transparent solid;
}

a:hover {
  border-bottom-color: cornflowerblue;
}

pre, code {
  font-family: monospace;
}

p {
  margin-bottom: 1em;
}

#MainContainer {
  box-sizing: border-box;
  margin: 1em auto;
  padding: 1em;
  width: 60em;
  background-color: white;
}

@media(max-width: 600px) {
  #MainContainer {
    width: 100%;
    padding: 5px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Georgia, Times, serif;
  font-weight: bold;
  color: #444;
  /* color: steelblue; */
}

h1 {
  font-size: 200%;
  margin-bottom: 1em;
}

h2 {
  font-size: 150%;
  margin-bottom: 0.5em;
}


#mainHeader {
  color: steelblue;
  margin-top: 1em;
  margin-bottom: 1em;
}

#mainHeader small {
  display: block;
  margin-top: 0.4em;
  font-size: 50%;
  font-weight: normal;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: lightslategray;
  letter-spacing: initial;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1em;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

.frontPage {
  margin-bottom: 2em;
}

.sidebar-nav {
  width: 60em;
  margin: 1em auto;
}

nav ul {
  margin: 0;
}

.sidebar-nav-item {
  display: inline-block;
  margin-right: 1.5em;
}

pre {
  overflow: auto;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.breadcrumb-link {
  font-size: 50%;
}
