@import url('./reset.css');
@import url('./prism-dracula.css');

:root {
  --content-width: 65ch;
  --text-content-color: #fff;
  --background-color: #111;
  --heading-color: rgb(250, 250, 116);
  --link-color-normal: rgba(250, 250, 116, .5);
  --link-color-hover: rgba(250, 250, 116, 1);
  /* --link-color-hover: rgb(96, 165, 221); */
  --body-font: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
  --heading-font: monospace;
  --light-border-color: rgba(255, 255, 255, .2);
  --blockquote-border-color: #4682b4b8;
  --blockquote-backgroud-color: #223;
}

body {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-content-color);
}

a,
a:visited {
  color: var(--text-content-color);
  text-decoration: dotted underline;
  text-decoration-color: var(--link-color-normal);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color-hover);
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-family: var(--heading-font);
  font-weight: bold;
  position: relative;
  margin-top: 2rem;
  color: var(--heading-color);
  }

  h1 {
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--heading-color);
}

article h2:before,
article h3:before,
article h4:before {
  position: absolute;
  font-size: 100%;
  opacity: .5;
  right: 101%;
}

article h2:before {
  content: '##';
}

article h3:before {
  content: '###';
}

article h4:before {
  content: '####';
}

article h2 {
  font-size: 150%;
}

article h3 {
  font-size: 125%;
}

article h4 {
  font-size: 110%;
}

article p {
  margin-top: 1em;
  margin-bottom: 0;
}

article ul {
  margin-left: 1em;
  list-style-type: disc;
}

article ol {
  margin-left: 1em;
  list-style-type: decimal;
}

article>ul,
article>ol {
  margin-top: 1em;
}

article>pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  background-color: var(--blockquote-backgroud-color);
  font-size: 120%;
  line-height: 1.6;
  font-style: italic;
  border-style: none;
  border-left-style: solid;
  border-width: 0.5rem;
  border-color: var(--blockquote-border-color);
}

hr {
  border: 0;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr:after {
  display: block;
  content: '***';
  text-align: center;
  opacity: .5;
}
