{% extends "layouts/base.njk" %}

{% block title %}{{ title | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<article class="single-blog-post">

  <header class="blog-header">
    {%- if date -%}
      <div class="article-date">
        <time datetime="{{ date | dateformat('YYYY-MM-DDTHH:mm:ssZ') }}">
          {{ date | dateformat('YYYY.MM.DD') }}
        </time>
      </div>
    {%- endif -%}

    <h1 class="title">{{ title }}</h1>

    {%- if tags -%}
      <ul class="tags dotted-list">
        {%- for tag in tags -%}
          <li class="tag">
            <a href="/tags/{{ tag }}" class="">{{ tag }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </header>

    {% if draft %}
    <aside class="draft-notification">
      <a href="/drafts">Draft note alert!</a>
    </aside>
    {% endif %}

  <section class="article-content">
    {{ content | safe }}
  </section>

  {% set linkHeres = collections.all | linksHere(page.url) %}
  {% if linkHeres.length %}
  <details class="pages-that-link-here">
    <summary>Pages that link here</summary>
    <ul>
    {% for page in linkHeres %}
      <li>
        {% include "page-summary.njk" %}
      </li>
    {% endfor %}
    </ul>
  </details>
  {% endif %}

  <section class="comments">
    <div id="commento"></div>
    <script defer src="https://cdn.commento.io/js/commento.js"></script>
  </section>

</article>
{% include "footer.njk" %}
{% endblock %}
