{% extends "layouts/default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="title">{{ title }}</h1>
  </header>

  <article class="">
    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
