{% extends "layouts/default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="title">{{ title }}</h1>
  </header>

  <article class="">
    {% if updated %}
      <strong>Updated:</strong>
      <time datetime="{{ updated | dateformat('YYYY-MM-DDTHH:mm:ssZ') }}">
        {{ updated | dateformat('YYYY.MM.DD') }}
      </time>
    {% endif %}

    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
