<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} &#183; {{ end }}drhayes.io{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet"></link>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  {{ $css := resources.Get "css/site.css" }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
<body class="">
  <main class="pb7" role="main">
    {{ block "header" . }}
      {{ partial "page-header.html" . }}
    {{ end }}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
      {{ partial "page-footer.html" . }}
    {{ end }}
  </main>
</body>
</html>
