{{ define "main" }}
<main class="">

  {{ if .Title }}
  <h1 class="title">{{ .Title }}</h1>
  {{ end }}

  <ol class="blog-posts-list">
    {{ range .Paginator.Pages }}
    <li class="blog-post">
      <article>
        <h2>
          <a href="{{ .RelPermalink }}" class="">{{ .Title }}</a>
        </h2>
        <p>
          {{ if .Params.description }}{{ .Params.description }}{{ else }}{{ plainify (.Summary) | safeHTML }}{{ end }}
        </p>
        <p class="reading-time">{{ .ReadingTime }} minute read</p>
      </article>
    </li>
    {{ end }}
  </ol>

  {{- template "_internal/pagination.html" . -}}

</main>
{{ end }}
