{{ partial "header.html" . }}

<article id="MainContainer">
  <h1>
    {{ .Title }}
    <small>
      <a class="breadcrumb-link" href="{{ .CurrentSection.Permalink}}">
        &laquo; {{ .CurrentSection.Title }}
      </a>
    </small>
    {{ if .PublishDate }}
    <span class="post-date">
      Published: <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006.01.02" }}</time>
    </span>
    {{ end }}
  </h1>

  {{ .Content }}

  <section class="post-nav">
    <dl>
      {{ if .PrevInSection }}
      <dt>Previous</dt>
      <dd class="previous">
        <a href="{{ .PrevInSection.Permalink }}">
          {{ .PrevInSection.Title }}
        </a>
      </dd>
      {{ end }}
      {{ if .NextInSection }}
      <dt>Next</dt>
      <dd class="next">
        <a href="{{ .NextInSection.Permalink }}">
          {{ .NextInSection.Title }}
        </a>
      </dd>
      {{ end }}
    </dl>
  </section>

</article>

{{ partial "footer.html" . }}
