{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article class="mh2 mw8 center-ns">

  <header class="w-100 mb4">
    <h1 class="f1 lh-solid mt0 mb1 ph1 lh-title tracked-tight tc">
      {{- .Title -}}
    </h1>

    {{ if .Params.Date }}
    <div class="f5 silver lh-title tc">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "2006.01.02" -}}
      </time>
    </div>
    {{ end }}

    {{ if .Params.tags }}
    {{ partial "tags.html" . }}
    {{ end }}

  </header>

  <aside class="fr-ns mh1 mb1">
    {{- partial "menu-contextual.html" . -}}
  </aside>

  <main class="lh-copy mw8 f5 f4-ns center">
    {{- .Content -}}
    {{- partial "comments.html" . -}}
  </main>

</article>
{{ end }}
