{{ partial "header.html" . }}

<div id="MainContainer">
  <h1>
    {{ .Title }}
    <small>
      <a class="breadcrumb-link" href="{{ .CurrentSection.Permalink}}">
        &laquo; {{ .CurrentSection.Title }}
      </a>
    </small>
  </h1>
  {{ .Content }}

  <ul>
  {{ if .PrevInSection }}
  <li>Previous:
    <a href="{{ .PrevInSection.Permalink }}">
      {{ .PrevInSection.Title }}
    </a>
  </li>
  {{ end }}
  {{ if .NextInSection }}
  <li>Next:
    <a href="{{ .NextInSection.Permalink }}">
      {{ .NextInSection.Title }}
    </a>
  </li>
  {{ end }}
  </ul>

</div>

{{ partial "footer.html" . }}
