{{ define "main" }}
<main class="">

  {{ if .Title }}
  <h1 class="title">Pages tagged "{{ .Title }}"</h1>
  {{ end }}

  <ol class="taxonomy-list">
    {{ range .Paginator.Pages }}
    <li class="taxon-item">
      <h2>
        <a href="{{ .RelPermalink }}" class="">{{ .Title }}</a>
      </h2>
      <p>{{ plainify .Summary | safeHTML }}</p>
      <p class="reading-time">{{ .ReadingTime }} minute read</p>
    </li>
    {{ end }}
  </ol>

  {{- template "_internal/pagination.html" . -}}

</main>
{{ end }}
