body {
  font-family: Helvetica;
  color: #333;
}

a {
  text-decoration: none;
}

code {
  font-family: "Fira Mono", monospace;
}

.highlight code {
  background-color: inherit;
  font-size: .9rem;
}

.highlight pre code {
  line-height: 1.5 !important;
}

.dotted-list li+li::before {
  content: '·';
}

main p:first-child {
  margin-top: 0;
}

.highlight pre {
  font-size: 80%;
  overflow: auto;
  padding: 0.5rem;
}

.highlight pre code {
  line-height: 1.4;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left-style: solid;
  border-width: 0.25rem;
  border-color: steelblue;
  color: #666;
}
