@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html,body { font-family: 'Inter var', sans-serif; }
}

body {
  font-size: 18px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: #111;
}

a {
  text-decoration: none;
}

.sans-fonts {
    font-family: "Inter", Helvetica, sans-serif;
}

code {
  font-family: "Inconsolata", monospace;
  color: #000;
  background-color: #f0f3f3;
  padding: 0.5rem;
}

h1,h2,h3,h4,h5,h6 {
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe
  UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
  font-family: "Inter", Helvetica, sans-serif;
}

.highlight code {
  background-color: initial;
  font-size: 1rem;
}

.highlight pre code {
  line-height: 1.5 !important;
}

.dotted-list li+li::before {
  content: '·';
}

main p:first-child {
  margin-top: 0;
}

.highlight pre {
  font-size: 80%;
  overflow: auto;
  padding: 0.5rem;
}

.highlight pre code {
  line-height: 1.4;
  padding: initial;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left-style: solid;
  border-width: 0.25rem;
  border-color: steelblue;
  color: #222;
}

article main p {
  line-height: 1.715;
}

.hamnav {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
  border-width: 0;
}

#hamburger:checked ~ .hamnav {
  height: 120px;
  border-width: 1px;
}

article main h1, article main h2, article main h3, article main h4, article main h5 {
  margin-top: 2em;
  margin-bottom: -.2em;
}

article main h2,article main h3, article main h4, article main h5 {
  border-bottom: 1px dotted #ccc;
}

article main p:first-child {
  font-size: 150%;
  font-weight: 400;
  letter-spacing: -.05em;
}

article main p:first-child::first-letter {
  color: steelblue;
  float: left;
  font-family: "Inter", Helvetica, serif;
  font-size: 10rem;
  font-weight: 800;
  margin: 0;
  padding-top: 0.8rem;
  padding-bottom: 0;
}

main blockquote p:first-child::first-letter {
  color: inherit;
  float: initial;
  font-size: inherit;
  font-weight: normal;
  margin: inherit;
  padding: inherit;
}
