{{ define "main" }}
<main class="mh2 mw8 center-ns">

  {{ if .Title }}
  <h1 class="">{{ .Title }}</h1>
  {{ end }}

  {{ if .Content }}
  <section class="">
    {{- .Content -}}
  </section>
  {{ end }}

  <section class="">
    {{ range .Paginator.Pages }}
    <main class="">
      <div class="">
        <h1 class="">
          <a href="{{ .RelPermalink }}" class="">{{ .Title }}</a>
        </h1>
        <p class="">
        <a href="{{ .RelPermalink }}" class="">{{ plainify .Summary | safeHTML }}</a>
        </p>
        <p class="">{{ .ReadingTime }} minute read</p>
      </div>
    </main>
    {{ end }}
  </section>
  {{- template "_internal/pagination.html" . -}}
</main>
{{ end }}
