---
title: Games
layout: default.njk
---
<ol class="flex flex-wrap justify-between">
  {% for game in collections.games %}
  <li class="flex flex-1 justify-center content-center m-2 p-20 bg-cover" style="background-image: url('{{ game.data.screenshot }}')">
    <h2 class="text-3xl text-center game-title">
      <a href="{{ game.url }}" class="normal-case">{{ game.data.title }}</a>
    </h2>
  </li>
  {% endfor %}
</ol>
