{% extends "./base.njk" %}

{% block title %}{{ title | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<main>

  <header class="my-4">
    {% include "title-element.njk" %}
    {% include "article-date.njk" %}
    {% include "tags.njk" %}
  </header>

  <article class="article-content text-justify">
    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
