{{ $attributes := print "src=\"" .RelPermalink "\"" }}
{{/* TODO: Rename this from featured-image to responsive-image-attributes or something */}}
{{ if not (strings.HasSuffix .RelPermalink "svg") }}

{{ $tiny := (.Resize "500x") }}
{{ $small := (.Resize "800x") }}
{{ $medium := (.Resize "1200x") }}
{{ $large := (.Resize "1500x") }}

  {{ $attributes = print "sizes=\"(min-width: 35em) 1200px, 100vw\" srcset=\"" }}
  {{ if ge .Width "500" }}
    {{ $attributes = print $attributes $tiny.RelPermalink " 500w " }}
  {{ end }}
  {{ if ge .Width "800" }}
    {{ $attributes = print $attributes $small.RelPermalink " 800w " }}
  {{ end }}
  {{ if ge .Width "1200" }}
    {{ $attributes = print $attributes $medium.RelPermalink " 1200w " }}
  {{ end }}
  {{ if ge .Width "1500" }}
    {{ $attributes = print $attributes $large.RelPermalink " 1500w " }}
  {{ end }}

  {{ $attributes = print $attributes "\" src=\"" .RelPermalink "\"" }}

{{ end }}

{{ return $attributes }}
