<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  {{ .Hugo.Generator }}
  <link rel="stylesheet" href="/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "nav.html" . }}
