<nav class="pt3 flex flex-row items-center mh3 mh0-ns" role="navigation">
  <ul class="list flex f5 pa0">
    <li class="pr3">
      <a href="/" class="fw6 color-inherit link no-underline">
        <span>drhayes.io</span>
      </a>
    </li>
    {{ range .Site.Menus.main }}
    <li class="dn db-ns list pr3">
      <a class="link ttl" href="{{ .URL }}" title="{{ .Name }} page">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
    <li>
      <a href="/about/" class="link dn-ns" title="About page">
        about
      </a>
    </li>
  </ul>
</nav>
