<div class="overflow-hidden">
  <h2 class="f2 lh-title mb0">
    <a href="{{ .Permalink }}" class="link color-inherit dim">
      {{ .Title }}
    </a>
  </h2>
  {{ if .Params.Date }}
  <time class="db f5 fw4 silver" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ dateFormat "2006.01.02" .Date }}
  </time>
  {{ end }}
  <div class="f5 lh-copy mt3 measure-wide">
    {{ plainify .Summary  | safeHTML }}
  </div>
  <p class="f7 tracked ttu">{{ .ReadingTime }} minute read</p>
</div>
