{{ define "header"}}
<!--  -->
{{ end }}

{{ define "main" }}
<main class="front-page h-card vcard">
  {{ $logo := resources.Get "raven.png" }}
  <a href="/" class="site-logo">
    <img src="{{ $logo.RelPermalink }}" alt="drhayes.io">
  </a>
  <h1 class="p-name fn">Hi, I'm David Hayes. 👋🏽</h1>
  <a href="mailto:hi@drhayes.io" class="u-email email" rel="me">hi@drhayes.io</a>
  <h3 class="">I do stuff with computers. I live in Austin, TX.</h3>

  <div class="site-menu">
    {{ range .Site.Menus.main }}
    <a class="site-menu-item" href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
    {{ end }}
  </div>
</main>
{{ end }}

{{ define "footer" }}
<!--  -->
{{ end }}
