{{ define "header"}}
<!-- empty -->
{{ end }}

{{ define "main" }}

<section class="pa4 tc vh-100 flex flex-column items-center flex-row-l h5-l mt5-l mb4-l">
  <div class="w-50-l tr-l mr4-l">
    <img src="/raven.png" alt="Raven" class="br-100 h5 w5">
  </div>
  <div class="w-50-l tl-l">
    <h1 class="f1">Hi there. 👋🏽 </h1>
    <h2 class="f3 fw4">My name is David Hayes. I'm a technologist living in Austin, TX.</h2>
  </div>
</section>

<div class="flex flex-column flex-row-l">
  <section class="pa4 tc w-50-l">
    <h1 class="f2">I make games.</h1>
    {{ $gamePages := where .Site.RegularPages "Type" "in" (slice "game-page") }}
    <ol class="list pa0 ma0 flex flex-column">
      {{ range $gamePages }}
      <li class="pa4 bb b--black-10">
        <article class="flex flex-column">
          <a href="{{.URL}}" class="dib color-inherit dim link order-1 order-0-l">
            <h2 class="f3 fw5 lh-title mv2 f2-l">{{ .Title }}</h2>
          </a>
          <div>
            <img src="{{ .Params.Screenshot}}" alt="" class="w-100">
          </div>
          <div class="f5 lh-copy nested-copy-line-height nested-links f4-l order-2">
            {{ .Summary }}
          </div>
        </article>
      </li>
      {{ end}}
    </ol>
  </section>

  <section class="pa4 tc w-50-l">
    <h1 class="f2">I write blog posts.</h1>
    {{ $blogPages := where .Site.RegularPages "Section" "in" (slice "posts") }}
    <ol class="list pa0 ma0 flex flex-column">
      {{ range (first 4 $blogPages) }}
      <li class="pa4 bb b--black-10">
        <article class="flex flex-column">
          <a href="{{.URL}}" class="dib color-inherit dim link">
            <h2 class="f3 fw5 lh-title mv2 f2-l fw4-l mid-gray">{{ .Title }}</h2>
          </a>
          <div class="f5 lh-copy nested-copy-line-height nested-links f4-l">
            {{ .Summary }}
          </div>
        </article>
      </li>
      {{ end}}
    </ol>
  </section>
</div>

<section class="pa4 tc">
  <h1 class="f2 f3-l">I'm elsewhere on the web.</h1>
  <ul class="list pa0 ma0 flex flex-column">
    <li class="mb3">
      <a href="https://mastodon.technology/@drhayes" class="color-inherit dim f4 link">drhayes@mastodon</a>
    </li>
    <li class="mb3">
      <a href="https://keybase.io/drhayes" class="color-inherit dim f4 link">Keybase</a>
    </li>
    <li class="mb3">
      <a href="https://github.com/drhayes" class="color-inherit dim f4 link">GitHub</a>
    </li>
    <li class="mb3">
      <a href="https://drhayes.tumblr.com" class="color-inherit dim f4 link">Tumblr</a>
    </li>
    <li class="mb3">
      <a href="https://www.goodreads.com/drhayes" class="color-inherit dim f4 link">Goodreads</a>
    </li>
  </ul>
</section>


{{ end }}
