{{ define "main" }}

<section class="pa4 tc vh-100 flex flex-column items-center pa1-m flex-row-ns h-100-ns mt2-ns">
  <div class="w-40-ns tr-ns mr4-ns">
    <img src="/raven.png" alt="Raven" class="br-100 h5 w5">
  </div>
  <div class="w-40-ns tl-ns">
    <h1 class="f1">Hi there. 👋🏽 </h1>
    <h2 class="f3 fw4">My name is David Hayes. I'm a technologist living in Austin, TX.</h2>
  </div>
</section>

<div class="flex flex-column flex-row-l">
  <section class="pa4 tc w-50-l pa1-ns tl-ns">
    <h1 class="f2 tc">I make games.</h1>
    {{ $gamePages := where .Site.RegularPages "Type" "in" (slice "game-page") }}
    <ol class="list pa0 ma0 flex flex-column">
      {{ range $gamePages }}
      <li class="pa4 bb b--black-10 pa1-ns pb4-ns bn-ns">
        <article class="flex flex-column flex-row-ns">
          <div class="w-third-ns">
            <img src="{{ .Params.Screenshot}}" alt="" class="w-100">
          </div>
          <div class="w-two-thirds-ns pl2-ns">
            <a href="{{.URL}}" class="dib color-inherit dim link">
              <h2 class="f3 fw5 lh-title mv2 mt0-ns">{{ .Title }}</h2>
            </a>
            <div class="f5 lh-copy nested-copy-line-height nested-links">
              {{ .Summary }}
            </div>
          </div>
        </article>
      </li>
      {{ end}}
    </ol>
  </section>

  <section class="pa4 tc w-50-l pa1-ns tl-ns">
    <h1 class="f2 tc">I write blog posts.</h1>
    {{ $blogPages := where .Site.RegularPages "Section" "in" (slice "posts") }}
    <ol class="list pa0 ma0 flex flex-column">
      {{ range (first 4 $blogPages) }}
      <li class="pa4 bb b--black-10 pa1-ns pb4-ns bn-ns">
        <article class="flex flex-column">
          <a href="{{.URL}}" class="dib color-inherit dim link">
            <h2 class="f3 fw5 lh-title mv2 mt0-ns">{{ .Title }}</h2>
          </a>
          <div class="f5 lh-copy nested-copy-line-height nested-links">
            {{ .Summary }}
          </div>
        </article>
      </li>
      {{ end}}
    </ol>
  </section>
</div>

<section class="pa4 tc">
  <h1 class="f2 f3-l">I'm elsewhere on the web.</h1>
  <ul class="list pa0 ma0 flex flex-column">
    <li class="mb3">
      <a href="https://mastodon.technology/@drhayes" class="color-inherit dim f4 link">drhayes@mastodon</a>
    </li>
    <li class="mb3">
      <a href="https://keybase.io/drhayes" class="color-inherit dim f4 link">Keybase</a>
    </li>
    <li class="mb3">
      <a href="https://github.com/drhayes" class="color-inherit dim f4 link">GitHub</a>
    </li>
    <li class="mb3">
      <a href="https://drhayes.tumblr.com" class="color-inherit dim f4 link">Tumblr</a>
    </li>
    <li class="mb3">
      <a href="https://www.goodreads.com/drhayes" class="color-inherit dim f4 link">Goodreads</a>
    </li>
  </ul>
</section>


{{ end }}
