{{ partial "header.html" . }}

<div id="MainContainer">

  <h1 id="mainHeader">
    drhayes.io
    <small>The personal website of David R. Hayes </small>
  </h1>

  <section class="frontPage">
    <h2>Here</h2>
    <ul>
    {{ range first 10 .Data.Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </section>

  <section class="frontPage">
    <h2>Elsewhere</h2>
    <ul>
      {{ $headless := .Site.GetPage "/elsewhere" }}
      {{ $reusablePages := $headless.Resources.ByType "page" }}
      {{ range $reusablePages }}
          <li>
            <a href="{{ .Params.link }}">{{ .Title }}</a>
          </li>
      {{ end }}
    </ul>
  </section>

</div>

{{ partial "footer.html" . }}
