.article {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

  header {
    h1 {
      margin-block-end: 0;

      a {
        text-decoration: none;
      }
    }
  }

  a:hover {
    &::after {
      content: ' #';
      font-size: 0.75em;
      color: var(--text-contrast-color);
    }
  }
}

.article-content {
  margin: 0 auto 2em auto;

  & > pre {
    overflow: auto;
    margin-block-end: 1em;
    padding: 1em;
  }
}

article iframe {
  margin-block-end: 2em;
}
