.article {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

  header {
    h1 {
      margin-block-end: 0;

      a {
        text-decoration: none;
      }
    }
  }
}

@counter-style headings-style {
  system: numeric;
  symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  pad: 2 '0';
}

.article-content {
  margin: 0 auto 2em auto;
  counter-reset: headings;

  h2 {
    counter-increment: headings;
    margin-block-end: 0;

    &::before {
      content: counter(headings, headings-style);
      margin-right: 0.5rem;
      color: var(--text-contrast-color);
      font-family: var(--heading-contrast-font);
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .game-screenshot {
    img {
      width: 100%;
    }

    figcaption {
      width: 100%;
    }
  }

  .games-list {
    margin: 0;
    list-style-type: none;

    .game-item {
      .game-screenshot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 16rem;
        background-size: cover;
        background-position: center;
      }

      a {
        text-decoration: none;
      }

      h1 {
        color: var(--game-title-color);
        font-weight: bold;
        padding: 0.2em 0.5em;
        margin: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1em;
        background-color: rgb(0 0 0 / 0.6);
        box-shadow: 0 0 0.2em rgb(255 255 255 / 0.3);
      }
    }
  }

  ul {
    margin-left: calc(2em - 2px);
    list-style-type: initial;
    counter-reset: li;
  }

  ol {
    margin-left: calc(2em - 2px);
    list-style-type: decimal;
    counter-reset: li;
  }

  ul li::marker {
    color: var(--heading-color);
  }

  & > pre {
    overflow: auto;
    margin-block-end: 1em;
    padding: 1em;
  }
}

article iframe {
  margin-block-end: 2em;
}
