aside {
  position: relative;
  padding: 1em;
  margin-block: 1.75em;
  border: 1px solid var(--light-border-color);
  border-radius: 0.5em;
  background-color: var(--background-color);

  p:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '<aside>';
    inset-block-start: -1em;
    inset-inline-start: 1em;
    font-size: 0.8rem;
    background-color: var(--background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 0.5em;
    color: var(--text-contrast-color);
  }

  &::after {
    position: absolute;
    content: '</aside>';
    inset-block-end: -0.8em;
    inset-inline-end: 1em;
    font-size: 0.8rem;
    background-color: var(--background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 0.5em;
    color: var(--text-contrast-color);
  }

  h1 {
    font-size: 2rem;
    color: var(--text-contrast-color);
  }

  &.warning {
    background-color: var(--warning-background-color);
    color: var(--warning-color);
    border-color: var(--warning-border-color);

    &::before,
    &::after {
      background-color: var(--warning-background-color);
      color: var(--warning-color);
      border-color: var(--warning-border-color);
    }

    &::before {
      content: '<warning>';
    }

    &::after {
      content: '</warning>';
    }

    h1 {
      color: var(--warning-color);
    }
  }
}
