aside {
  position: relative;
  padding: var(--space-m);
  margin-bottom: var(--space-m);
  border: 1px solid var(--light-border-color);
  border-radius: 0.5em;
  background-color: var(--background-color);

  p:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '<aside>';
    top: -0.8em;
    left: var(--space-m);
    font-size: var(--step--1);
    background-color: var(--background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 0.5em;
    color: var(--text-contrast-color);
  }

  &::after {
    position: absolute;
    content: '</aside>';
    bottom: -0.8em;
    right: var(--space-m);
    font-size: var(--step--1);
    background-color: var(--background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 0.5em;
    color: var(--text-contrast-color);
  }

  h1 {
    font-size: var(--step-3);
  }

  &.warning {
    background-color: var(--warning-background-color);
    color: var(--warning-color);
    border-color: var(--warning-border-color);

    &::before,
    &::after {
      background-color: var(--warning-background-color);
      color: var(--warning-color);
      border-color: var(--warning-border-color);
    }

    &::before {
      content: '<warning>';
    }

    &::after {
      content: '</warning>';
    }

    h1 {
      color: var(--warning-color);
    }
  }
}
