body {
  padding: 0;
  margin: 0;
  visibility: var(--styles-loaded);
  font-family: var(--body-font);
  line-height: 1.7;
  background-color: var(--background-color);
  color: var(--text-content-color);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a,
a:visited {
  color: var(--text-content-color);
  text-decoration: dotted underline;
  text-decoration-color: var(--link-color-normal);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-color-hover);
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--heading-color);
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  background-color: var(--blockquote-background-color);
  font-size: 120%;
  line-height: 1.6;
  font-style: italic;
  border-style: none;
  border-left-style: solid;
  border-width: 0.5rem;
  border-color: var(--blockquote-border-color);
}

hr {
  border: 0;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr:after {
  display: block;
  content: '꧁ఌ꧂';
  text-align: center;
  color: var(--heading-color);
}
p > code {
  font-family: monospace;
  color: var(--inline-code-color);
}

pre {
  font-family: monospace;
}

svg {
  fill: var(--text-content-color);
}
