* {
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 0.1vw);
}

body {
  padding: var(--s0);
  margin: 0;
  font-family: var(--body-font);
  line-height: var(--line-height);
  letter-spacing: -0.05em;
  font-variant-numeric: oldstyle-nums;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(
    90deg,
    hsl(6deg 100% 50%) 0%,
    hsl(29deg 100% 50%) 12%,
    hsl(45deg 100% 50%) 20%,
    hsl(59deg 100% 50%) 28%,
    hsl(80deg 100% 64%) 35%,
    hsl(117deg 100% 73%) 41%,
    hsl(159deg 100% 50%) 48%,
    hsl(183deg 100% 47%) 55%,
    hsl(197deg 100% 50%) 62%,
    hsl(211deg 100% 51%) 70%,
    hsl(266deg 77% 66%) 78%,
    hsl(310deg 70% 55%) 88%,
    hsl(327deg 100% 50%) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.1rem;
  background-position: 0 95%;

  &[aria-current^='page'] {
    &:before {
      content: '<';
      font-size: 0.75em;
    }
    &:after {
      content: '>';
      font-size: 0.75em;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: -0.05em;

  a {
    background: none;
  }
}

h1 {
  font-size: var(--s4);
  line-height: var(--line-height-small);
}

h2 {
  font-size: var(--s3);
}

h3 {
  font-size: var(--s2);
}

h4 {
  font-size: var(--s1);
}

h5 {
  font-size: var(--s0);
}

p {
  margin-block: 0;
}

blockquote {
  margin-inline-start: 0;
  padding-inline-start: var(--s0);
  font-size: var(--s1);
  font-style: italic;
  border-inline-start-style: solid;
  border-width: var(--s-2);
  border-color: var(--color-blue);
}

hr {
  border: 0;
  height: var(--s2);
}

hr:after {
  display: block;
  content: '꧁ఌ꧂';
  text-align: center;
  color: initial;
}

p > code,
li > code {
  padding: var(--s-5);
  font-family: var(--code-font);
  background-color: var(--color-lightish);
}

pre,
.stack pre {
  margin-block: var(--s2);
  box-shadow: 0 0 var(--s0) var(--color-dark-40);
}

figcaption {
  text-align: center;
  font-size: var(--s-1);
}

ol,
ul {
  padding-inline-start: var(--s0);
}

figure {
  margin-inline: 0;
}

img {
  width: 100%;
}

aside {
  --aside-background-color: var(--color-light);
  --aside-header-color: var(--color-dark);
  --aside-text-color: var(--color-dark);
  --aside-border-color: var(--color-dark);
  --aside-text: 'aside';

  position: relative;
  border-color: var(--aside-border-color);
  border-radius: 0.5em;
  background-color: var(--aside-background-color);
  color: var(--aside-text-color);

  &.box {
    margin-block: var(--s3);
  }

  h2:first-of-type {
    margin-block: 0;
  }

  p:first-of-type {
    margin-block-start: var(--s-1);
  }

  p:last-child {
    margin-block-end: 0;
  }

  &.box::before {
    position: absolute;
    content: '<' var(--aside-text) '>';
    inset-block-start: -1em;
    inset-inline-start: 1em;
    font-size: 0.9rem;
    background-color: var(--aside-background-color);
    border: var(--border-thin) solid;
    border-color: var(--aside-border-color);
    border-radius: 0.5em;
    padding: var(--s-5) var(--s-4);
    color: var(--aside-text-color);
  }

  &.box::after {
    position: absolute;
    content: '</' var(--aside-text) '>';
    inset-block-end: -1em;
    inset-inline-end: 1em;
    font-size: 0.9rem;
    background-color: var(--aside-background-color);
    border: var(--border-thin) solid;
    border-color: var(--aside-border-color);
    border-radius: 0.5em;
    padding: var(--s-5) var(--s-4);
    color: var(--aside-text-color);
  }

  h4 {
    font-size: 1.5rem;
    color: var(--aside-header-color);
  }
}

strong {
  text-shadow: 0 0 4px var(--color-dark-20);
}
