* {
  box-sizing: border-box;
  max-inline-size: var(--measure);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--s0);
  line-height: var(--line-height);
  font-variant-numeric: oldstyle-nums proportional-nums;
  text-rendering: optimizeLegibility;
  background-color: var(--color-background);
  color: var(--color-primary-text);
  accent-color: var(--color-accent-color);
  // letter-spacing: -0.02em;
}

a,
a:visited {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: var(--color-link);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2ex;

  &:hover {
    color: var(--color-link-hover);
  }

  &[aria-current^='page'] {
    &:before {
      content: '<';
      font-size: 0.75em;
    }

    &:after {
      content: '>';
      font-size: 0.75em;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: var(--line-height-small);
  text-wrap: balance;
  color: var(--color-heading);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: var(--s5);
  line-height: 1;
  // letter-spacing: -0.02em;
}

h2 {
  font-size: var(--s3);
}

h3 {
  font-size: var(--s2);
}

h4 {
  font-size: var(--s1);
}

h5 {
  font-size: var(--s0);
}

main,
nav {
  background-color: var(--color-shade);
}

body>main.stack>header.stack {
  margin-block-end: var(--s0);
}

p {
  margin-block: 0;
}

blockquote {
  margin-inline-start: 0;
  padding-inline-start: var(--s0);
  font-size: var(--s1);
  font-style: italic;
  border-inline-start-style: solid;
  border-width: var(--s-2);
  border-color: var(--color-bq);
}

blockquote cite {
  &:before {
    content: '— ';
  }
}

hr {
  border: 0;
  height: var(--s2);
}

hr:after {
  display: block;
  content: '꧁ఌ꧂';
  text-align: center;
  color: var(--color-heading);
}

:is(p, li, a) code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: var(--code-font);
  color: var(--color-code);
  background-color: var(--bg-color-code);
}

kbd {
  font: var(--code-font);
}

pre,
.stack pre {
  margin-block: var(--s2);
  box-shadow: 0 0 var(--s0) var(--color-code-block-shadow);
}

figcaption {
  text-align: center;
  font-size: var(--s-1);
}

ol,
ul {
  padding-inline-start: var(--s0);
}

figure {
  margin-inline: 0;
}

img {
  width: 100%;
}

aside {
  --aside-text: 'aside';

  position: relative;
  border-color: var(--aside-border-color);
  border-radius: 0.5em;
  background-color: var(--aside-background-color);
  color: var(--aside-text-color);

  &.box {
    margin-block: var(--s2);
  }

  h4+p:first-of-type {
    margin-block-start: var(--s-1);
  }

  &.box::before {
    position: absolute;
    content: '<' var(--aside-text) '>';
    inset-block-start: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: var(--s-2);
    background-color: var(--aside-background-color);
    border: var(--border-thin) solid;
    border-color: var(--aside-border-color);
    border-radius: 0.5em;
    padding: var(--space-3xs) var(--space-2xs);
    color: var(--aside-text-color);
  }

  &.box::after {
    position: absolute;
    content: '</' var(--aside-text) '>';
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%) translateY(50%);
    font-size: var(--s-2);
    background-color: var(--aside-background-color);
    border: var(--border-thin) solid;
    border-color: var(--aside-border-color);
    border-radius: 0.5em;
    padding: var(--space-3xs) var(--space-2xs);
    color: var(--aside-text-color);
  }

  h4:first-of-type {
    margin-block: 0;
    color: var(--aside-header-color);
  }
}

strong {
  color: var(--color-strong);
}

body>nav {
  margin: 0;
  padding-block-start: var(--s-5);
  padding-block-end: var(--s0);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s0);
    justify-content: flex-start;
    align-items: center;
    text-transform: lowercase;
    list-style-type: none;
    padding-inline-start: 0;
  }
}

time {
  font-family: var(--subheading-font);
  color: var(--color-time);
}

article {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin-block-end: var(--space-s);
  }
}

:target {
  background-color: var(--color-target-bg-color);
}

.u-logo {
  stroke: var(--color-white);
  fill: var(--color-white);
}
