.big-letter > p:first-of-type:first-letter {
  float: left;
  font-size: 3em;
  font-weight: 900;
  font-family: monospace;
  padding: 0.6rem 0.6rem 0.6rem 0;
}

.big-letter blockquote p:first-of-type:first-letter,
.big-letter aside p:first-of-type:first-letter {
  font-size: inherit;
  font-weight: inherit;
  padding: inherit;
  margin-right: inherit;
  border: none;
  float: none;
}
