:root {
  --warning-background-color: hsl(0 80% 95%);
  --warning-color: var(--color-red);
  --warning-border-color: hsl(0 50% 80%);
  --joke-background-color: hsl(92.9, 100%, 93.9%);
  --joke-color: hsl(139.5, 82.2%, 35.3%);
  --joke-border-color: hsl(139.5, 60%, 80%);
  --draft-background-color: hsl(210 80% 97%);
  --draft-color: hsl(210 60% 50%);
  --draft-border-color: hsl(210 90% 80%);
  --omg-status-label-background-color: hsl(210 90% 90%);
  --omg-status-border-color: hsl(210 90% 75%);
  --blue-gradient: linear-gradient(
    100deg,
    hsl(240, 70%, 50%),
    hsl(200, 100%, 50%)
  );
}

.draft {
  color: var(--color-blue);
}

aside {
  &#toc {
    --aside-text: 'toc';
  }

  &.warning {
    --aside-background-color: var(--warning-background-color);
    --aside-header-color: var(--warning-color);
    --aside-text-color: var(--warning-color);
    --aside-border-color: var(--warning-border-color);
    --aside-text: 'warning';
  }

  &.joke {
    --aside-background-color: var(--joke-background-color);
    --aside-header-color: var(--joke-color);
    --aside-text-color: var(--joke-color);
    --aside-border-color: var(--joke-border-color);
    --aside-text: '😆😂🤣';
  }

  &.draft {
    --aside-background-color: var(--draft-background-color);
    --aside-header-color: var(--draft-color);
    --aside-text-color: var(--draft-color);
    --aside-border-color: var(--draft-border-color);
    --aside-text: 'draft';
  }
}

.omg-status {
  position: relative;
  border-color: var(--omg-status-border-color);
  border-radius: 0.5em;
  margin-block: var(--s2);

  &::before {
    position: absolute;
    inset-block-start: -1em;
    inset-inline-start: 1em;
    background-color: var(--omg-status-label-background-color);
    padding-inline: 1em;
    content: 'Latest Status';
  }

  .omg-status-text {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--s0);
    font-weight: normal;
    letter-spacing: -0.05em;
  }
}

.blue-gradient {
  background-image: var(--blue-gradient);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-fill-color: transparent;
}

.front-page {
  svg {
    width: 20rem;
    max-width: 100vw;
  }

  h2 {
    a[href^='mailto'] {
      background-image: var(--blue-gradient);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-fill-color: transparent;
      text-decoration: underline;
    }
  }
}

.game-card {
  display: grid;

  img {
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
  }

  figcaption {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    font-family: var(--heading-contrast-font);
    font-weight: bold;
    letter-spacing: -0.05em;
    font-size: var(--s4);
    max-inline-size: calc(100% - 1rem);
    max-block-size: calc(100% - 1rem);
    color: var(--color-white);
    text-shadow: 0 0 4px var(--color-dark);
  }
}

.about-logo {
  position: absolute;
  width: 30rem;
  opacity: 0.05;
  pointer-events: none;
}

.webmentions {
  h2 {
    font-size: var(--s1);
    border-width: var(--border-thin);
    border-block-end: solid var(--color-lightish);
  }

  img {
    width: var(--s4);
  }
}
