@font-face {
  font-family: "Berkeley Mono";
  src: local('Berkeley Mono'),
    url('/fonts/berkeley-mono/BerkeleyMono-Regular.woff') format('woff'),
    url('/fonts/berkeley-mono/BerkeleyMono-Regular.woff2') format('woff2');
  font-display: swap;
}
