footer.page-footer {
  margin-block-start: 6rem;

  .webring {
    display: flex;
    justify-content: center;
    margin-block-end: 1em;

    li {
      padding: 2em;
      list-style-type: none;
    }
  }

  .meta {
    display: flex;
    justify-content: center;
    margin-block-end: 1em;

    a {
      text-decoration: none;

      svg {
        fill: none;
        stroke-width: 3px;
        vertical-align: bottom;
      }
    }
  }

  .cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
  }
}
