.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--font-size-lg);
  padding-inline-end: var(--font-size-lg);

  &.intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &.tight {
    --space: var(--font-size-sm);
  }
}

.stack>* {
  margin-block: 0;
}

.stack>*+* {
  margin-block-start: var(--space, var(--font-size-base));
}

.box {
  padding: var(--font-size-lg);
  border-width: var(--border-thin);
  border-style: solid;
}

:not(aside).box {
  background-color: var(--color-box-bg-color);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-box-invert);
  background-color: var(--color-box-invert-bg-color);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--font-size-base));
}

.with-sidebar> :first-child {
  flex-grow: 1;
}

.with-sidebar> :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--font-size-base));
  justify-content: flex-start;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}
