@mixin rainbow-text {
  background-image: linear-gradient(
    100deg,
    hsl(240, 70%, 50%),
    hsl(200, 100%, 50%)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-fill-color: transparent;
}

.front-page {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

  header {
    text-align: center;

    h1 {
      margin: 0;
      letter-spacing: -0.05em;
      font-size: min(16vw, 8rem);

      .greeting {
        @include rainbow-text;
      }

      .wave {
        color: initial;
      }

      &::after {
        display: none;
      }
    }

    h2 {
      font-family: var(--heading-contrast-font);
      font-size: 3rem;
      font-weight: normal;
      margin-block: 0;
    }

    .p-nickname {
      font-family: var(--heading-font);
      font-weight: bold;
      letter-spacing: -0.05em;
      @include rainbow-text;
    }
  }

  .logo {
    width: 50%;
    margin: 1em auto 0;
  }

  footer {
    margin-bottom: 2em;

    &.horizontal-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    ul {
      display: flex;
      gap: 2em;
      list-style-type: none;
    }
  }

  section {
    padding: 1em;

    p {
      margin-bottom: 2em;
      text-align: center;
    }
  }
}
