@use '_breakpoints';

@mixin rainbow-text {
  background-image: linear-gradient(
    100deg,
    hsl(240, 70%, 50%),
    hsl(200, 100%, 50%)
  );
  background-clip: text;
  color: transparent;
  -webkit-fill-color: transparent;
}

.front-page {
  header {
    padding: 1rem;
    text-align: center;

    h1 {
      margin: 0;
      letter-spacing: -0.05em;
      font-size: 6rem;

      .greeting {
        @include rainbow-text;
      }

      .wave {
        color: initial;
      }

      &::after {
        display: none;
      }
    }

    .p-nickname {
      font-family: var(--heading-font);
      font-weight: bold;
      letter-spacing: -0.05em;
      @include rainbow-text;
    }
  }

  .logo {
    width: 50%;
    margin: 1rem auto 0;
  }

  @include breakpoints.for-tablet-portrait-up {
    h1 {
      font-size: 300%;
    }

    h2 {
      font-size: 200%;
    }
  }

  footer {
    &.horizontal-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      display: flex;
      gap: 2em;
    }
  }

  section {
    padding: 1rem;

    p {
      margin-bottom: 1em;
    }
  }
}
