.article-content {
  .games-list {
    margin: 0;
    list-style-type: none;

    .game-item {
      margin-block-end: 2em;

      figure.game-screenshot {
        display: grid;
        margin: 0;
        height: 16rem;

        img {
          grid-column: 1;
          grid-row: 1;
          height: 16rem;
          object-fit: cover;
        }

        figcaption {
          grid-column: 1;
          grid-row: 1;
          z-index: 1;
          align-self: center;
          font-family: var(--heading-font);
          letter-spacing: -0.05em;
          font-size: 3rem;
          color: var(--game-title-color);
          text-shadow: 0 0 4px var(--game-title-shadow);
          font-weight: bold;
          text-align: center;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }

  .game-screenshot {
    img {
      width: 100%;
    }

    figcaption {
      width: 100%;
    }
  }
}
