@use '_breakpoints';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: -0.05em;
  padding: 0 1em;

  .home-link {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .open-face {
    display: none;
  }

  .hamburger {
    display: block;

    details {
      summary {
        width: 100%;
        font-size: 2rem;
        text-align: right;

        &::marker {
          display: none;
          content: '';
        }
      }

      ul {
        padding: 0.5em;

        li {
          margin-bottom: 0.2em;
          text-align: right;
        }
      }
    }
  }

  @include breakpoints.for-tablet-portrait-up {
    padding: 1rem 0;

    .open-face {
      display: block;
    }

    .hamburger {
      display: none;
    }

    .open-face {
      display: flex;
      flex-direction: row;
      gap: 1em;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
