nav {
  background-color: var(--background-support-color);
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
  font-family: var(--heading-font);
  font-weight: bold;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .menu {
  display: flex;
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

nav .menu li {
  margin-right: 1em;
}

nav .menu li a {
  font-weight: bold;
  text-decoration: none;
}

nav .menu li .home-link {
  margin-right: 3em;
  font-size: 200%;
}

@media screen and (min-width: 720px) {
  nav {
    padding: 1rem 0;
  }
}
