.omg-status {
  position: relative;
  margin-block: 2rem;

  &::before {
    position: absolute;
    inset-block-start: -1em;
    inset-inline-start: 1em;
    background-color: var(--omg-status-label-background-color);
    padding-inline: 1em;
    content: 'Latest Status';
  }

  .omg-emoji {
    margin: 0;
    padding: 0;
    align-self: center;
    font-size: 4rem;
  }
}
