.omg-status {
  position: relative;
  display: grid;
  grid: auto-flow / 4rem 1fr;
  gap: 1.5rem;
  margin-block: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 0.2);
  align-items: center;

  &::before {
    position: absolute;
    inset-block-start: -1em;
    inset-inline-start: 1em;
    background-color: var(--omg-status-label-background-color);
    padding-inline: 1em;
    content: 'Latest Status';
  }

  .omg-emoji {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }

  .omg-content {
    margin: 0;
    padding: 0;
    padding-inline-end: 1em;

    div {
      text-align: justify;
    }

    a {
      display: block;
      text-align: right;
    }
  }
}
