.article-content .post-list {
  margin-inline: 0;
  margin-bottom: 2em;

  .line {
    display: flex;

    .date {
      display: block;
      margin-inline-end: 3em;
      color: var(--subtext-content-color);
      order: 0;
    }

    .link {
      order: 1;
    }

    .on {
      display: none;
    }
  }
}
