.tags-container {
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 0.5em;
    list-style-type: none;

    .tag {
      border: 1px solid var(--tag-border-color);
      border-radius: 0.4em;
      padding: 0.2em;
      background-color: var(--tag-background-color);
      color: var(--tag-color);
      transition: 250ms;

      &:hover {
        background-color: var(--tag-background-color-hover);
        color: var(--tag-color-hover);
        border-color: var(--tag-border-color-hover);
        padding-inline: 0.5em;
      }
    }
  }
}
