.tags-container {
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 1em;
    gap: 0.5em;
    list-style-type: none;

    .tag {
      border: 1px solid var(--tag-border-color);
      border-radius: 0.4em;
      padding: 0.2em;
      transition: 250ms;
    }

    .tag[href] {
      background-color: var(--tag-background-color);
      background-image: none;
      color: var(--tag-color);

      &:hover {
        background-color: var(--tag-background-color-hover);
        color: var(--tag-color-hover);
        border-color: var(--tag-border-color-hover);
        padding-inline: 0.5em;
      }
    }

    .orphan-tag {
      color: var(--text-contrast-color);
      border-color: var(--light-border-color);
    }
  }
}
