.tags {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  line-height: 0.4;

  .tag:before {
    content: '#';
  }

  .tag[href] {
    background-image: none;
    color: var(--tag-color);

    &:hover {
      background-color: var(--tag-background-color-hover);
      color: var(--tag-color-hover);
      border-color: var(--tag-border-color-hover);
    }
  }

  .orphan-tag {
    color: var(--text-contrast-color);
    border-color: var(--light-border-color);
  }
}
