:root {
  --body-font: 'Berkeley Mono', 'Courier', 'Helvetica', sans-serif;
  --heading-font: 'Inter Bold', 'Helvetica Neue', 'Helvetica', sans-serif;
  --heading-contrast-font: 'Inter Bold', 'Helvetica Neue', 'Helvetica',
    sans-serif;
  --code-font: 'Berkeley Mono', monospace;
  --measure: 65ch;

  --ratio: 1.33;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: calc(1rem + 0.15vw);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --line-height: 1.5;
  --line-height-small: 1.2;
  --border-thin: 1px;

  --color-dark: hsl(0 0% 5%);
  --color-dark-20: hsl(0 0% 5% / 0.2);
  --color-dark-40: hsl(0 0% 5% / 0.4);
  --color-darkish: hsl(0 0% 20%);
  --color-light: hsl(0 0% 95%);
  --color-lightish: hsl(0 0% 90%);
  --color-gray-50: hsl(0 0% 50%);
  --color-gray-60: hsl(0 0% 60%);

  --color-white: hsl(0 0% 98%);
  --color-blue: hsl(210 50% 50%);
  --color-red: hsl(0 100% 50%);
}

::selection {
  color: var(--color-darkish);
  background-color: var(--color-lightish);
}
