:root {
  // --body-font: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  // --heading-font: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  // --code-font: 'Inconsolata', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  // --body-font: "Berkeley Mono", monospace;
  --body-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  // --heading-font: "Berkeley Mono", monospace;
  --heading-font: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  --subheading-font: "Helvetica Neue", sans-serif;
  --code-font: "Berkeley Mono", monospace;
  --measure: 75ch;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --s-5: clamp(0.37rem, 0.41rem + -0.06vw, 0.4rem);
  --s-4: clamp(0.46rem, 0.49rem + -0.04vw, 0.48rem);
  --s-3: clamp(0.58rem, 0.58rem + 0vw, 0.58rem);
  --s-2: clamp(0.69rem, 0.69rem + 0.04vw, 0.72rem);
  --s-1: clamp(0.83rem, 0.81rem + 0.12vw, 0.9rem);
  --s0: clamp(1rem, 0.96rem + 0.22vw, 1.13rem);
  --s1: clamp(1.2rem, 1.13rem + 0.36vw, 1.41rem);
  --s2: clamp(1.44rem, 1.33rem + 0.55vw, 1.76rem);
  --s3: clamp(1.73rem, 1.56rem + 0.82vw, 2.2rem);
  --s4: clamp(2.07rem, 1.84rem + 1.17vw, 2.75rem);
  --s5: clamp(2.49rem, 2.16rem + 1.64vw, 3.43rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.23rem + 0.11vw, 0.31rem);
  --space-2xs: clamp(0.5rem, 0.48rem + 0.11vw, 0.56rem);
  --space-xs: clamp(0.75rem, 0.71rem + 0.22vw, 0.88rem);
  --space-s: clamp(1rem, 0.96rem + 0.22vw, 1.13rem);
  --space-m: clamp(1.5rem, 1.43rem + 0.33vw, 1.69rem);
  --space-l: clamp(2rem, 1.91rem + 0.43vw, 2.25rem);
  --space-xl: clamp(3rem, 2.87rem + 0.65vw, 3.38rem);
  --space-2xl: clamp(4rem, 3.83rem + 0.87vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.74rem + 1.3vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.14rem + 0.54vw, 0.56rem);
  --space-2xs-xs: clamp(0.5rem, 0.37rem + 0.65vw, 0.88rem);
  --space-xs-s: clamp(0.75rem, 0.62rem + 0.65vw, 1.13rem);
  --space-s-m: clamp(1rem, 0.76rem + 1.2vw, 1.69rem);
  --space-m-l: clamp(1.5rem, 1.24rem + 1.3vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.52rem + 2.39vw, 3.38rem);
  --space-xl-2xl: clamp(3rem, 2.48rem + 2.61vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.04rem + 4.78vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.57rem + 2.17vw, 2.25rem);
  --line-height: 1.5;
  --line-height-small: 1.25;
  --border-thin: 0.02em;

  --color-dark: hsl(0 0% 5%);
  --color-dark-20: hsl(0 0% 5% / 0.2);
  --color-dark-40: hsl(0 0% 5% / 0.4);
  --color-darkish: hsl(0 0% 20%);
  --color-light: hsl(0 0% 95%);
  --color-lightish: hsl(0 0% 90%);
  --color-gray-50: hsl(0 0% 50%);
  --color-gray-60: hsl(0 0% 60%);

  --color-white: hsl(0 0% 98%);
  --color-blue: hsl(210 50% 50%);
  --color-red: hsl(0 100% 50%);

  /* This is the Endesga 32 palette by Endesga: https://lospec.com/palette-list/endesga-32 */
  /* Generated from the GIMP palette in Aseprite: https://github.com/aseprite/aseprite/blob/e129fefb2e50e3abe8b9f4b0be177476966ce2be/data/extensions/endesga-palettes/edg32.gpl */
  --color-aluminum: #c0cbdc;
  --color-amber: #f77622;
  --color-archaeon: #0095e9;
  --color-birch: #ead4aa;
  --color-blood: #9e2835;
  --color-darkbark: #3f2832;
  --color-deep: #124e89;
  --color-fabric: #e43b44;
  --color-flora: #3e8948;
  --color-glade: #63c74d;
  --color-glow: #feae34;
  --color-iiem: #ff0044;
  --color-ink: #181425;
  --color-ion: #2ce8f5;
  --color-iron: #5a6988;
  --color-light: #fee761;
  --color-lilac: #68386c;
  --color-mold: #193c3e;
  --color-moss: #265c42;
  --color-oak: #b86f50;
  --color-peach: #f6757a;
  --color-petal: #b55088;
  --color-pine: #743f39;
  --color-rust: #d87644;
  --color-sap: #e4a672;
  --color-shade: #262b44;
  --color-shadeskin: #c28569;
  --color-skin: #e8b796;
  --color-steel: #3a4466;
  --color-tetanus: #be4a2f;
  --color-white: #ffffff;
  --color-zinc: #8b9bb4;

  --color-background: var(--color-ink);
  --color-primary-text: var(--color-white);
  // --color-heading: color-mix(in lch, var(--color-iiem), white 15%);
  --color-heading: var(--color-peach);
  --color-time: var(--color-zinc);
  --color-link: color-mix(in lch, var(--color-ion), transparent 30%);
  --color-link-hover: var(--color-white);
  --color-code: var(--color-white);
  --color-accent-color: var(--color-archaeon);
  --bg-color-code: var(--color-deep);
  --color-bq: color-mix(in lch, var(--color-archaeon), transparent 50%);
  --color-code-block-shadow: var(--color-shade);
  --color-strong: var(--color-white);
  --color-box-bg-color: var(--color-deep);
  --color-box-invert: var();
  --color-box-invert-bg-color: var(--color-dark);
  --color-tag: var(--color-ion);
  --color-tag-background: var(--color-steel);
  --color-tag-border-color: var(--color-zinc);
  --color-tag-hover: var(--color-white);
  --color-tag-orphan: var(--color-gray-60);
  --color-badge-bg-color: var(--color-iron);
  --color-badge-draft: var(--color-white);
  --color-game-text-outline: var(--color-blue);
  --color-target-bg-color: var(--color-lightish);

  --aside-background-color: var(--color-steel);
  --aside-header-color: var(--color-white);
  --aside-text-color: var(--color-white);
  --aside-border-color: var(--color-zinc);

  --warning-background-color: color-mix(in srgb, var(--color-fabric), white 80%);
  --warning-color: var(--color-fabric);
  --warning-border-color: var(--color-fabric);
  --joke-background-color: color-mix(in srgb, var(--color-flora), white 80%);
  --joke-color: var(--color-flora);
  --joke-border-color: var(--color-flora);
  --draft-background-color: color-mix(in srgb, var(--color-archaeon), white 80%);
  --draft-color: var(--color-steel);
  --draft-color-text: var(--color-steel);
  --draft-border-color: var(--color-steel);
  --omg-status-color: var(--color-white);
  --omg-status-label-background-color: color-mix(in lch, var(--color-deep), white 10%);
  --omg-status-border-color: var(--color-iron);
  --blue-gradient: linear-gradient(100deg,
      hsl(240, 70%, 50%),
      hsl(200, 100%, 50%));
  --color-game-caption: var(--color-lightish);
  --selection-color: var(--color-lightish);
  --selection-bg-color: var(--color-dark);

  font-size: var(--s0);
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-bg-color);
}
