:root {
  --body-font: 'Roboto Mono', 'Courier', 'Helvetica', sans-serif;
  --heading-font: 'Inter Bold', 'Helvetica Neue', 'Helvetica', sans-serif;
  --code-font: 'Roboto Mono', monospace;
  --content-width: 60rem;
}

/* These are Cobalt2 colors: https://wesbos.com/cobalt2-theme-sublime-text-2 */
html.cobalt2 {
  --text-content-color: #ffffff;
  --text-contrast-color: #999999;
  --subtext-content-color: #80ff82;
  --background-color: #193549;
  --background-support-color: #1d425d;
  --heading-color: #edef7d;
  --heading-support-color: #edba00;
  --link-color-normal: #2eff00;
  --link-color-hover: #5fe461;
  --light-border-color: #1d425d;
  --blockquote-border-color: #3ad900;
  --blockquote-background-color: #1f4662;
  --inline-code-color: #9df39f;
  --draft-badge-color: #333333;
  --draft-badge-background: #b8ffd9;
}

/* These are Nord colors: https://www.nordtheme.com/docs/colors-and-palettes */
html.nord {
  --text-content-color: #eceff4;
  --text-contrast-color: #4c566a;
  --subtext-content-color: #5e81ac;
  --background-color: #2e3440;
  --background-support-color: #3b4252;
  --heading-color: #88c0d0;
  --heading-support-color: #4c566a;
  --link-color-normal: #8fbcbb;
  --link-color-hover: #88c0d0;
  --light-border-color: #434c5e;
  --blockquote-border-color: #a3be8c;
  --blockquote-background-color: #3b4252;
  --inline-code-color: #ebcb8b;
  --draft-badge-color: #2e3440;
  --draft-badge-background: #88c0d0;
}

/* I just made these up. */
html.light {
  --text-content-color: rgb(48 48 48);
  --text-contrast-color: rgb(128 128 128 / 1);
  --text-selection-color: rgb(255, 255, 255);
  --subtext-content-color: rgb(0 0 0 / 80%);
  --background-color: rgb(255, 255, 255);
  --background-support-color: rgb(248 248 248 / 1);
  --heading-color: var(--text-content-color);
  --link-color-normal: rgb(96, 165, 221);
  --link-color-hover: rgb(96, 165, 221);
  --light-border-color: rgb(216 216 216 / 1);
  --blockquote-border-color: #4682b4b8;
  --blockquote-background-color: #f9f9ff;
  --inline-code-color: cornflowerblue;
  --draft-badge-color: cornflowerblue;
  --warning-background-color: rgb(255 232 232 / 1);
  --warning-color: rgb(255 0 0 / 1);
  --warning-border-color: rgb(255 128 128 / 1);
  --tag-background-color: cornflowerblue;
  --tag-border-color: steelblue;
  --tag-color: #f9f9ff;
  --tag-background-color-hover: #f9f9ff;
  --tag-border-color-hover: gray;
  --tag-color-hover: var(--text-content-color);
  --game-title-color: cornflowerblue;
}

::selection {
  color: var(--text-selection-color);
  background-color: var(--heading-color);
}
