.post-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;

  & > * {
    margin-block: 0;
    flex-basis: 50%;
  }
}

.summary {
  font-style: italic;
}
