.heading-font {
  font-family: var(--heading-font);
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s0));
  padding-inline-start: 0;
  list-style-type: none;
}

.font-size\:s1 {
  font-size: var(--s1);
}

.font-size\:s3 {
  font-size: var(--s3);
}

.no-link-decoration {
  background-image: none;

  & * {
    background-image: none;
  }
}

.p-summary {
  font-size: var(--s1);
  font-style: italic;
}

.post-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  gap: var(--s3);
  margin-block-start: var(--s-4);

  & > * {
    margin-block: 0;
    flex-basis: 50%;
  }
}

.tags {
  line-height: var(--line-height-small);
  gap: var(--s-1);

  .tag:before {
    content: '#';
  }

  .tag[href] {
    background-image: none;
    color: var(--color-blue);

    &:hover {
      color: var(--color-dark);
    }
  }

  .orphan-tag {
    color: var(--color-gray-60);
  }
}

.align-self\:center {
  align-self: center;
}

.text-align\:right {
  text-align: right;
}

.margin-block-start\:s5 {
  margin-block-start: var(--s5);
}

.margin-block-end\:s5 {
  margin-block-end: var(--s5);
}

.badge {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: var(--s-1);
  text-transform: uppercase;
  background-color: var(--color-light);

  &.draft {
    color: var(--color-blue);
  }
}

.list-style-type\:none {
  list-style-type: none;
}

.hidden {
  display: none;
}
