.heading-font {
  font-family: var(--heading-font);
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s0));
  padding-inline-start: 0;
  list-style-type: none;
}

.font-size\:s1 {
  font-size: var(--s1);
}

.font-size\:s3 {
  font-size: var(--s3);
}

.no-link-decoration {
  background-image: none;

  & * {
    background-image: none;
  }
}

.p-summary {
  font-style: italic;
}

.post-metadata time {
  font-size: var(--s0);
}

.tags {
  font-family: var(--subheading-font);
  line-height: var(--line-height-small);
  gap: var(--s-1);

  .tag {
    background-color: var(--color-tag-background);
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid var(--color-tag-border-color);
    font-size: var(--s-1);
    text-decoration: none;
  }

  .tag:before {
    content: '#';
  }

  .tag[href] {
    background-image: none;
    color: var(--color-tag);

    &:hover {
      color: var(--color-tag-hover);
    }
  }

  .orphan-tag {
    color: var(--color-tag-orphan);
  }
}

.align-self\:center {
  align-self: center;
}

.text-align\:right {
  text-align: right;
}

.margin-block-start\:s5 {
  margin-block-start: var(--s5);
}

.margin-block-end\:s5 {
  margin-block-end: var(--s5);
}

.badge {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: var(--s-1);
  text-transform: uppercase;
  background-color: var(--color-badge-bg-color);

  &.draft {
    color: var(--color-badge-draft);
  }
}

.list-style-type\:none {
  list-style-type: none;
}

.hidden {
  display: none;
}

.tight-kern {
  letter-spacing: -0.05em;
}
