@use '_reset';
@use '_tokyo-night-dark';
@use '_fonts';
@use '_theme';
@use '_base';
@use '_article';
@use '_front-page';
@use '_header';
@use '_aside';
@use '_big-letter';
@use '_tags';
@use '_post-list';
@use '_title-element';
@use '_badges';

footer .webring {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-l);
}

footer .webring a {
  padding: var(--space-m);
}

footer .cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}

.about-logo {
  float: right;
  width: clamp(120px, 25vw, 480px);
}

.principles-list {
  dt {
    font-weight: bold;
  }

  dd {
    margin-left: var(--space-m);
    margin-bottom: var(--space-m);
  }
}
