@use '_reset';
@use '_breakpoints';
@use '_tokyo-night-dark';
@use '_fonts';
@use '_theme';
@use '_base';
@use '_article';
@use '_nav';

header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header h1 {
  position: relative;
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  font-size: 200%;
  border-bottom: 3px dotted var(--text-contrast-color);
}

header h1:after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  bottom: 3px;
  border-bottom: 3px dotted var(--text-contrast-color);
}

header h1 a {
  text-decoration: none;
}

header .times {
  color: var(--subtext-content-color);
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-size: 80%;
}

header .tags {
  display: flex;
  flex-wrap: wrap;
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  color: var(--subtext-content-color);
}

header .tags li {
  margin-right: 1em;
}

header .tags li::before {
  content: '#';
}

header .summary {
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 1em;
  font-family: var(--heading-font);
  font-size: 125%;
  font-style: italic;
}

footer {
  background-color: var(--background-support-color);
  padding: 2rem 0;
  margin-top: 3rem;
}

footer .webring {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .webring a {
  padding: 1em;
}

footer .cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}

svg {
  fill: var(--text-content-color);
}

.front-page > .horizontal-center:first-child {
  margin-top: 8rem;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  max-width: 100%;
  height: 100vh;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page .logo {
  width: 240px;
  overflow: hidden;
}

.front-page h1 {
  color: var(--text-content-color);
  font-size: 150%;
  font-weight: bold;
  line-height: 1.75;
}

.front-page h2 {
  color: var(--text-content-color);
}

.front-page .site-menu {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.front-page .site-menu li {
  padding: 0 1rem;
}

.absolute-bottom {
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 75%;
}

.dim-a-lot a {
  color: var(--heading-color);
}

.front-page footer ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.post-links {
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post-links .line {
  display: flex;
  margin-bottom: 0.2em;
}

.post-links .line .date {
  display: block;
  margin-right: 3rem;
  color: var(--subtext-content-color);
  order: 0;
}

.post-links .line .link {
  order: 1;
}

.post-links .line .on {
  display: none;
}

.big-letter p:first-of-type:first-letter {
  font-size: 300%;
  font-weight: bold;
  padding: 0.6rem 0.9rem;
  margin-right: 0.5rem;
  border: 1px dotted var(--light-border-color);
  float: left;
}

.big-letter blockquote p:first-of-type:first-letter {
  font-size: inherit;
  font-weight: inherit;
  padding: inherit;
  margin-right: inherit;
  border: none;
  float: none;
}

.tag-item {
  margin-bottom: 2rem;
}

.tag-item .description,
.tag-item .reading-time {
  margin-top: 0;
  margin-left: 1rem;
}

.tag-item .reading-time {
  color: var(--subtext-content-color);
}

.big-letter .tag-item p:first-of-type:first-letter {
  font-size: inherit;
  font-weight: inherit;
  padding: inherit;
  margin-right: inherit;
  border: none;
  float: none;
}

.games-list {
  margin: 0;
  list-style-type: none;
}

.games-list .game-item .game-screenshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16rem;
  background-size: cover;
  background-position: center;
}

.games-list .game-item a {
  text-decoration: none;
}

.games-list .game-item h1 {
  color: var(--inline-code-color);
  font-weight: bold;
  font-size: 175%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 15px rgb(0 0 0 / 100%);
}

.article-content .game-screenshot {
  margin-top: 2em;
  margin-bottom: 2em;
}

.game-screenshot img {
  width: 100%;
}

.game-screenshot figcaption {
  width: 100%;
  font-size: 80%;
  text-align: center;
}

a.tag {
  color: var(--subtext-content-color);
}

a.tag:hover {
  color: var(--link-color-hover);
}

.about-logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.tagged-things ol li:before,
.tagged-things ul li:before {
  display: none;
}

.principles-list {
  margin-left: 1em;
}

.principles-list dt {
  font-weight: bold;
}

.principles-list dd {
  margin-left: 1em;
  margin-bottom: 2em;
}

.content {
  max-width: min(860px, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.draft {
  border-radius: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  font-size: 80%;
  color: var(--draft-badge-color);
  background: var(--draft-badge-background);
  order: 3;
  align-self: center;
}

.sub-title {
  font-size: 125%;
}

@media screen and (min-width: 720px) {
  .front-page h1 {
    font-size: 300%;
  }

  .front-page h2 {
    font-size: 150%;
  }

  html .front-page > .horizontal-center:first-child {
    margin-top: 8rem;
  }

  .absolute-bottom {
    font-size: inherit;
  }

  .post-links {
    padding: 0;
  }

  .post-links .line {
    margin-bottom: initial;
  }

  .about-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    opacity: 0.1;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    margin-top: 8rem;
  }
}
