// @use '_reset';
@use '_tokyo-night-dark';
@use '_theme';
@use '_fonts';
@use '_base';
@use '_article';
@use '_front-page';
@use '_header';
@use '_aside';
@use '_tags';
@use '_post-list';
@use '_title-element';
@use '_badges';
@use '_feed';
@use '_games';
@use '_omgStatus';
@use '_toc';

footer .webring {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

footer .webring a {
  padding: 2em;
}

footer .cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}

.about-logo {
  float: right;
  width: clamp(120px, 25vw, 480px);
}

.principles-list {
  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    margin-bottom: 2em;
  }
}
