.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: grid;
  max-width: 65ch;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.logo {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
}

.hellothere {
  grid-row: 2;
  grid-column: 4 / span 2;
}

.dostuff {
  grid-row: 3;
  grid-column: 4 / span 2;
  font-size: 100%;
}

.siteMenu {
  grid-row: 4;
  grid-column: 2 / span 3;
}

.hi {
  font-weight: bold;
  font-size: 300%;
}

.myname {
  font-size: 100%;
}
