<footer class="site-footer">
  <section class="creative-commons-license">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="license-link">
      <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
    </a>
    <p>
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="link mid-gray">Creative Commons Attribution-ShareAlike 4.0 International License</a> by David R. Hayes.
    </p>
  </section>
  <section class="hotline-webring">
    <ul>
      <li>
        <a href="https://hotlinewebring.club/drhayes/previous">&laquo; Previous</a>
      </li>
      <li>
        <a href="https://hotlinewebring.club/">Hotline Webring!</a>
      </li>
      <li>
        <a href="https://hotlinewebring.club/drhayes/next">Next &raquo;</a>
      </li>
    </ul>
  </section>
</footer>
