<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %} {{ page.title }} · {% endif %} drhayes.io</title>
  <link rel="stylesheet" href="/css/site.css">
  <meta name="google-site-verification" content="blpqoyJP6QdBNmkuqzE0LkXaRBHOgZa1cILyoCNFRAw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="site">
    <div class="logo">
      <img src="/assets/raven.png">
    </div>

    <nav class="main-nav">
      <ul class="main-nav-items">
        <li>
          <a href="{{ base.url }}/">drhayes.io</a>
        </li>
        <li>
          <a href="{{ base.url }}{% link blaster.md %}">Blaster</a>
        </li>
        <li>
          <a href="{{ base.url }}{% link about.md %}">About</a>
        </li>
      </ul>
    </nav>

    {{ content }}

    <footer class="main-footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png">
      </a>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> by David R. Hayes.
    </footer>
  </div>
</body>
</html>
