---
layout: default
---

<h1>
  {{ page.title }}
  <small>
    <a class="breadcrumb-link" href="{{ base.url}}/games/{{ page.game }}">
      « {{ page.game | capitalize }}
    </a>
  </small>
</h1>

<span class="post-date">
  Published: <time datetime="{{ page.date }}">{{ page.date | date: "%Y.%m.%d" }}</time>
</span>


{{ content }}

<section class="post-nav">
    <dl>

      {% if page.next %}
      <dt>Next</dt>
      <dd class="next">
        <a href="{{ page.next.url }}">
          {{ page.next.title }}
        </a>
      </dd>
      {% endif %}

      {% if page.previous %}
      <dt>Previous</dt>
      <dd class="previous">
        <a href="{{ page.previous.url }}">
          {{ page.previous.title }}
        </a>
      </dd>
      {% endif %}

    </dl>
  </section>
