---
title: Blog
description: A time-sorted list of writings. Tend to be temporal, less universal.
layout: base.njk
---

{% include "header.njk" %}

<main class="article">
  {% include "title-element.njk" %}
  {% set postList = collections.blog | reverse %}
  {% include "post-list.njk" %}
</main>

{% include "footer.njk" %}

