---
title: Games
eleventyExcludeFromCollections: true
---

<ul class="stack list-style-type:none" style="padding-inline-start:0">
  {% for game in collections.games %}
    <li>
      <a href="{{ game.url }}">
        <figure class="stack game-card">
          <img src="{{ game.data.screenshot }}" alt="{{ game.data.screenshotDescription }}">
          <figcaption>{{ game.data.title }}</figcaption>
        </figure>
      </a>
    </li>
  {% endfor %}
</ul>
