---
permalink: /humans.txt
layout: ''
eleventyExcludeFromCollections: true
---
Greetings, program!

I mean... Congrats, nerd, you found my humans.txt file!
(couldn't help the Tron reference)

My name is David Hayes. I basically wrote everything on this site.
You can email me at hi@drhayes.io and I might even respond.

The most up-to-date colophon is at https://drhayes.io/about
but if that's no good...

### COLOPHON ###
Neovim is where the typing happens.
Markdown is where the formatting happens.
...unless it was Nunjucks.
11ty generated it.
GitHub hosts the source.
Netlify hosts the site.
