---
title: Hi there!
description: It's my front page.
layout: base.njk
---

<main class="front-page">

  {% include 'header.njk' %}

  <header class="h-card">
    <h1>
      <span class="greeting">Hi there.</span>
      <span class="wave">👋🏽</span>
    </h1>
    <h2>My name is <a href="https://drhayes.io" class="p-name u-url u-uid" rel="me">David Hayes</a>.</h2>
    <h2>I get called <span class="p-nickname">drhayes</span> a lot.</h2>
    <h2><a href="mailto:hi@drhayes.io" class="u-email">hi@drhayes.io</a></h2>
    <div class="logo">
      {% include "raven.svg" %}
    </div>
  </header>

  <footer class="absolute-bottom horizontal-center">
    <ul>
      <li>
        <a rel="me" href="https://social.lol/@drhayes">@drhayes@social.lol</a>
      </li>
      <li>
        <a rel="me" href="https://github.com/drhayes">GitHub</a>
      </li>
      <li>
        <a rel="me" href="https://proven.lol/f3518f">Proof</a>
      </li>
    </ul>
    {% include "webring.njk" %}
  </footer>

</main>
