---
title: Hi there!
layout: base.njk
---

<style>
</style>

<section class="front-page vertical-center">
  <div class="horizontal-center h-card">
    <div class="logo u-logo">
      {% include "raven.svg" %}
    </div>
    <div class="greeting-text">
      <h1>Hi. 👋🏽</h1>
      <h2>My name is <a href="https://drhayes.io" class="p-name u-url">David Hayes</a>.</h2>
      <h2><a href="mailto:hi@drhayes.io" class="u-email">hi@drhayes.io</a></h2>
      <h2>I do stuff with computers.</h2>
    </div>
  </div>
  <div class="horizontal-center">
    <ul class="site-menu">
      {% for item in menu %}
        <li>
          <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <footer class="absolute-bottom dim-a-lot horizontal-center">
    <ul>
      <li>
        <a rel="me" href="https://indieweb.social/@drhayes">@drhayes@indieweb.social</a>
      </li>
      <li>
        <a rel="me" href="https://github.com/drhayes">GitHub</a>
      </li>
    </ul>
  </footer>
</section>
