---
title: Hi there - drhayes.io
description: It's my front page.
layout: base.njk
---

<main class="stack front-page" style="--space: 1rem;";>

  <div class="with-sidebar">
    <div class="align-self:center">
      {% include "raven.svg" %}
    </div>

    <div class="stack">
      <h1>
        <span class="blue-gradient">Hi there.</span>
        <span>👋🏽</span>
      </h1>

      <h2>My name is <a href="https://drhayes.io" class="p-name u-url u-uid" rel="me">David Hayes</a>.</h2>

      <p>I get called <span class="heading-font font-size:s1 blue-gradient p-nickname">drhayes</span> a lot.</p>

      <p>It's going to continue to be super plain around here for a bit while I straighten out my site.</p>

      <p><a href="mailto:hi@drhayes.io">hi@drhayes.io</a></p>

      <h2 class="p-name">Recent Writing</h2>
      <ol class="list-style-type:none">
        {%- for post in collections.allTheWriting | dateSort | reverse | first -%}
        <li class="h-entry">
          <a href="{{ post.url }}" class="u-url p-name">{{ post.data.title }}</a>
        </li>
        {% endfor %}
      </ol>

      <h2>Me Elsewhere</h2>
      <ul class="list-style-type:none">
        <li>
          <a rel="noopener me" href="https://social.lol/@drhayes">@drhayes@social.lol</a>
        </li>
        <li>
          <a rel="noopener me" href="https://github.com/drhayes">GitHub</a>
        </li>
        <li>
          <a rel="noopener me" href="https://proven.lol/f3518f">Proof</a>
        </li>
      </ul>
      {% include "webring.njk" %}
    </div>
  </div>

</main>

