---
layout: article.njk
title: Lately
---

<p>Here's what I've been up to lately around the web.</p>

<hr>

{%- if bookmarks -%}
  <h2>Most Recent Bookmarks</h2>
  <ul class="list-none p-0 m-0 mt-4 mb-6 justify-start">
    {%- for bookmark in bookmarks -%}
      <li class="mr-8 mb-4">
        <a href="{{ bookmark.href }}">{{ bookmark.description }}</a>
        <ul class="list-none flex flex-wrap">
          {%- for tag in bookmark.tags -%}
            <li class="mr-4 opacity-60">
              <a href="https://pinboard.in/u:drhayes/t:{{ tag }}">#{{ tag }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
