---
pagination:
  data: notes
  size: 1
  alias: note
permalink: "notes/{{ note.title | slug }}/"
templateEngineOverride: njk,md
layout: default.njk
---

# {{ note.title }}

***

{{ note.contents | safe }}
