---
title: Quotes
description: Some sayings that I've found meaningful.
eleventyImport:
  collections:
    - quotes
---

<hr>

<ul class="stack list-style-type:none" style="padding-inline-start:0">
  {% for quote in collections.quotes | dateSort | reverse %}
    <li>
      <a href="{{ quote.url }}">{{ quote.data.title }}</a>
    </li>
  {% endfor %}
</ul>

