---
permalink: _redirects
eleventyExcludeFromCollections: true
---
/posts    /blog
/2019/10/25/gemini-rising-ai-goal-oriented-action-planning/    /blog/gemini-rising-ai-goal-oriented-action-planning/
/2019/03/22/gemini-rising-ai-behavior-trees/    /blog/gemini-rising-ai-behavior-trees/
/2019/03/22/gemini-rising-ai-lua-scripting/    /blog/gemini-rising-ai-lua-scripting/
/2019/03/21/gemini-rising-ai-introduction/    /blog/gemini-rising-ai-intro/
/2018/12/12/ha-ha-again-its-hugo/    /blog/ha-ha-again-its-hugo/
/2018/12/06/ha-ha-just-kidding-im-using-nextjs-now/    /blog/ha-ha-just-kidding-im-using-nextjs-now/
/2018/11/24/oh-well-gatsby-it-is/    /blog/oh-well-gatsby-it-is/
/2018/09/14/gemini-rising-the-stats/    /blog/gemini-rising-the-stats/
/2018/09/13/announcing-gemini-rising-my-new-game/    /blog/announcing-gemini-rising-my-new-game/
/2018/09/12/a-new-start/    /blog/a-new-start/
/index.xml    /feed/index.xml
/games/blaster/articles/intro    /games/blaster/intro/
/games/blaster/articles/part-one    /games/blaster/part-one/
/games/blaster/articles/part-two    /games/blaster/part-two/
/games/blaster/articles/part-three    /games/blaster/part-three/
/feed/index.xml    /feed.xml
