---
permalink: /robots.txt
layout: ''
eleventyExcludeFromCollections: true
---

{% for badRobot in site.badRobots %}
User-agent: {{ badRobot }}
Disallow: /

{% endfor -%}
User-agent: *
Allow: /

Sitemap: {{ global.baseUrl }}/sitemap.xml
