---
permalink: /robots.txt
layout: ''
eleventyExcludeFromCollections: true
---
Sitemap: {{ global.baseUrl }}/sitemap.xml

User-agent: *
Disallow:

{% for badRobot in badRobots %}
User-agent: {{ badRobot }}
Disallow: /
{% endfor -%}

