---
permalink: /robots.txt
layout: ''
eleventyExcludeFromCollections: true
---
User-agent: GPTBot
Disallow: /

User-agent: Googlebot
Disallow: /

User-agent: Googlebot-Image
Disallow: /

User-agent: *
Allow: /

Sitemap: {{ site.host }}/sitemap.xml
