---
title: This Is My Style Guide
layout: base.njk
---

<main class="article">

  <header>
    <h1>H1 in an article header</h1>
  </header>

  <section class="article-content">

    <aside>
      <h1>What the heck is this?</h1>
      <p>In redesigning my site I thought it'd be useful to gather all the styles and specimens across my site in a single place so I can see how they all work together.</p>
      <p>Sticking another paragraph in here to demonstrate some spacing stuff.</p>
    </aside>

    <p>So begins the article content.</p>

    <h2>This is an H2</h2>
    <h2 class="sub-title">This is an H2 Sub Title</h2>

    <p>An HR:</p>
    <hr>

    <h2>Lists</h2>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>

    <p>Some text goes here.</p>

    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
    </ol>

    <h2>Games list</h2>
    <ul class="games-list">
      <li class="game-item">
        <a href="#">
          <section style="background-image: url('/img/aftershock-screenshot.png')" class="game-screenshot">
            <h1>Aftershock</h1>
          </section>
        </a>
      </li>
      <li class="game-item">
        <a href="#">
          <section style="background-image: url('/img/blaster-screenshot.png')" class="game-screenshot">
            <h1>Blaster</h1>
          </section>
        </a>
      </li>
    </ul>

  </section>
</main>

