---js
{
  layout: 'default.njk',
  pagination: {
    data: 'collections',
    size: 1,
    alias: 'tag',
    before: function(paginationData, fullData) {
      return paginationData.filter(tag => {
        return tag !== 'all' &&
          this.isRealTag(tag) &&
          fullData.collections[tag].length > 1;
      });
    },
    addAllPagesToCollections: false
},
  permalink: 'tags/{{ tag | slugify }}/',
  eleventyComputed: {
    title: "Things tagged with #{{ tag }}",
  },
  changefreq: 'weekly',
  eleventyExcludeFromCollections: true,
}
---
{% set taglist = collections[tag] %}
{% set postList = taglist | dateSort | reverse %}
<main class="stack">
  {% include "post-list.njk" %}
</main>
