---
permalink: /.well-known/appspecific/com.tesla.3p.public-key.pem
layout: ''
eleventyExcludeFromCollections: true
---
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEs6IsJwSmgbLOqkKZK31jqt7rfBvj
tm4ktjK2PIJBFLMQ3d4+ix3XftyyAsGExwBViwlLwAELpkDRuRDeOURuWw==
-----END PUBLIC KEY-----
