---
permalink: .well-known/webfinger
layout: ''
eleventyExcludeFromCollections: true
---
{
  "subject": "acct:drhayes@social.lol",
  "aliases": [
    "https://social.lol/@drhayes",
    "https://social.lol/users/drhayes"
  ],
  "links": [
    {
      "rel": "http://webfinger.net/rel/profile-page",
      "type": "text/html",
      "href": "https://social.lol/@drhayes"
    },
    {
      "rel": "self",
      "type": "application/activity+json",
      "href": "https://social.lol/users/drhayes"
    },
    {
      "rel": "http://ostatus.org/schema/1.0/subscribe",
      "template": "https://social.lol/authorize_interaction?uri={uri}"
    }
  ]
}
