---
title: Writing
description: The collection of everything I've published on the site.
layout: base.njk
aliases:
  - /blog
eleventyNavigation:
  key: Writing
  order: 3
---

{% include "header.njk" %}

<main class="center stack h-entry">
  {% include "title-element.njk" %}

  <section class="stack">

    <p>
      A bit of an experiment, these are things that I'm writing that are basically never truly complete and published. They're out here, reflecting my thinking, but never truly <em>done</em>.
    </p>

    <p>
      Anything marked {% include "draft-badge.njk" %} is especially fresh out of the oven and still in flux.
    </p>

    <h2>Essays and Things</h2>
    {% set postList = collections.myWriting | reverse %}
    {% include "post-list.njk" %}

    <h2>Blog</h2>
    {% set postList = collections.blog | reverse %}
    {% include "post-list.njk" %}

  </section>

  {% include 'webmentions.njk' %}

</main>

{% include "footer.njk" %}


