{% extends "./base.njk" %}

{% block title %}{{ title | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<article class="single-blog-post">

  <header class="blog-header">
    <h1 class="title">{{ title }}</h1>
    {% include "article-date.njk" %}
    {% include "tags.njk" %}
  </header>

    {% if draft %}
    <aside class="draft-notification">
      <a href="/drafts">Draft note alert!</a>
    </aside>
    {% endif %}

  <section class="article-content">
    {{ content | safe }}
  </section>

  {% set linkHeres = collections.all | linksHere(page.url) %}
  {% if linkHeres.length %}
  <details class="pages-that-link-here">
    <summary>Pages that link here</summary>
    <ul>
    {% for page in linkHeres %}
      <li>
        {% include "page-summary.njk" %}
      </li>
    {% endfor %}
    </ul>
  </details>
  {% endif %}

  <section class="comments">
    <div id="commento"></div>
    <script defer src="https://cdn.commento.io/js/commento.js"></script>
  </section>

</article>
{% include "footer.njk" %}
{% endblock %}
