<!doctype html>
<html lang="en" class="cobalt2">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/site.css">
  <!-- indieauth -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <!-- webmention -->
  <link rel="webmention" href="https://webmention.io/drhayes.io/webmention">
  <link rel="pingback" href="https://webmention.io/drhayes.io/xmlrpc">
  <!-- misc -->
  <link rel="pgpkey" href="/key.txt">
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="{{ site.googleSiteVerification }}">
  <link rel="canonical" href="{{ site.host }}{{ page.url }}">
  {%- if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" href="{{ site.host }}/feed.xml">
</head>

<body class="">
  {% block content %}
  {{ content | safe }}
  {% endblock %}
</body>

</html>
