<!doctype html>
<html lang="en" class="light">

<head>
  <meta charset="utf-8" />
  {%- include "meta.njk" -%}
  <title>{{ title | titleify }}</title>
</head>

<body>
  {% block content %}
  {{ content | safe }}
  {% endblock %}
  <script async src="/js/main.js"></script>
  <a href="https://brid.gy/publish/mastodon" class="hidden">brid.gy please publish my stuff</a>
  {% if page.url %}
    <a href="{{ page.url }}" class="hidden u-url">{{ page.url }}</a>
  {% endif %}
</body>

</html>
