{% extends "./base.njk" %}

{% block title %}{{ title | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="m-4">
    <h1 class="relative text-3xl font-bold pb-4 mb-4 dotted-border leading-relaxed">
      {{ title }}
    </h1>
  </header>

  <section class="article-content">
    {{ content | safe }}
  </section>

</main>
{% include "footer.njk" %}
{% endblock %}
