{% extends './base.njk' %}

{% block title %}{{ title | titleify }}{% endblock %}

{% block content %}
{% include 'header.njk' %}
<main class='article h-entry'>

  {% include 'title-element.njk' %}

  {% include 'toc.njk' %}

  <article class="article-content {% if tags | isBigLetterPage -%}big-letter{%- endif %} e-content">
    {{ content | safe }}
  </article>

  <article class="webmentions">
    <ol>
    {% for webmention in webmentions %}
      <li>
        {{ webmention.author.name }} sent this page a {{ webmention.activity.type }}
      </li>
    {% endfor %}
    </ol>
  </article>

</main>

{% include 'footer.njk' %}
{% endblock %}
