<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/feedStyle.xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ global.baseUrl }}">
  {%- if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>{{ site.name }}</title>
  {% endif -%}
  <subtitle>{{ site.subtitle }}</subtitle>
  <link href="{{ site.host }}{{ permalink }}" rel="self"/>
  <link href="{{ site.host }}"/>
  <updated>{{ collections[feed] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <updated>{{ collections.allTheWriting | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ global.baseUrl }}</id>
  <generator uri="https://www.11ty.dev/" version="{{ eleventy.version }}">{{ eleventy.generator }}</generator>
  <author>
    <name>{{ site.author.name }}</name>
    <uri>{{ site.author.link }}</uri>
    <email>{{ site.author.email }}</email>
  </author>
  {% for post in collections[feed] %}
  {%- set absolutePostUrl = post.url | absoluteUrl(global.baseUrl) -%}
  {% if not post.data.unlisted -%}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- if post.data.tags %}
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}" />
    {%- endfor %}
    {%- endif %}
    {% if post.page.excerpt -%}
    <summary>{{ post.page.excerpt | trim }}</summary>
    {%- elif post.data.description -%}
    <summary>{{ post.data.description | trim }}</summary>
    {%- endif %}
    <content xml:lang="{{ site.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | trim }}</content>
    <rights type="text">{{ site.copyright }}</rights>
  </entry>
  {% endif -%}
  {% endfor %}
</feed>

