{% extends './base.njk' %}

{% block content %}
{% include 'header.njk' %}
<main class='center stack h-entry'>

  {% include 'title-element.njk' %}

  <article class="stack e-content">
    {{ content | safe }}

    <a href="{{ url }}" class="u-url" rel="noopener noreferrer">Check it out: {{ title }}</a>

    {% include 'tags.njk' %}
  </article>

  {% include 'posse.njk' %}

  {% include 'webmentions.njk' %}

</main>

{% include 'footer.njk' %}
{% endblock %}

