{% extends "./default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="m-4">
    {% include "title-element.njk" %}
  </header>

  {{ content | safe }}

</main>
{% include "footer.njk" %}
{% endblock %}
