{% extends "./default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="title">
      {{ title }}
    </h1>
  </header>

  {{ content | safe }}

</main>
{% include "footer.njk" %}
{% endblock %}
