{% extends "./base.njk" %}

{% set pageTitle = title or fileSlug %}
{% block title %}{{ pageTitle | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<article class="">

  <header class="">
    <h1 class="title">{{ title }}</h1>

    {%- if tags -%}
      <ul class="tags dotted-list">
        {%- for tag in tags -%}
          <li class="tag">
            <a href="/tags/{{ tag }}" class="">{{ tag }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- if updated -%}
    <div class="updated-time">
      Updated:
      <time datetime="{{ updated | dateFormat(true) }}">
        {{ updated | dateFormat }}
      </time>
    </div>
    {%- endif -%}
  </header>

    {% if draft %}
    <aside class="draft-notification">
      <a href="/drafts">Draft note alert!</a>
    </aside>
    {% endif %}

  <section class="">
    {{ content | safe }}
  </section>

  {% set linkHeres = collections.all | linksHere(page.url) %}
  {% if linkHeres.length %}
  <details class="pages-that-link-here">
    <summary>Pages that link here</summary>
    <ul>
    {% for page in linkHeres %}
      <li>
        {% include "page-summary.njk" %}
      </li>
    {% endfor %}
    </ul>
  </details>
  {% endif %}

</article>
{% include "footer.njk" %}
{% endblock %}
