{% extends "./base.njk" %}

{% set pageTitle = title or fileSlug %}
{% block title %}{{ pageTitle | titleify }}{% endblock %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="title">
      {{ title }}
    {% if subtitle %}
    <small class="subtitle">{{ subtitle }}</small>
    {% endif %}
    {% if author %}
      <span class="author-line">by <address class="author">{{ author }}</address><span>
    {% endif %}
    </h1>
    {% include "article-date.njk" %}
    {% include "tags.njk" %}
  </header>


    {% if draft %}
    <aside class="draft-notification">
      <a href="/drafts">Draft note alert!</a>
    </aside>
    {% endif %}

  <article class="">
    {{ content | safe }}
  </article>

  {% set linkHeres = collections.all | linksHere(page.url) %}
  {% if linkHeres.length %}
  <section class="my-8">
    <h2>Pages that link here</h2>
    <ul class="flex flex-col">
    {% for page in linkHeres %}
      <li class="flex=1 border border-solid border-gray-200 m-4 p-2">
        {% include "page-summary.njk" %}
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

</main>
{% include "footer.njk" %}
{% endblock %}
