{% extends "./default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="my-4">
    {% include "title-element.njk" %}
    {% include "article-date.njk" %}
    {% include "tags.njk" %}
  </header>

  <article class="">
    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
