{% extends "./default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="relative text-3xl font-bold pb-4 mb-4 dotted-border leading-relaxed">{{ title }}</h1>
    {% include "article-date.njk" %}
    {% include "tags.njk" %}
  </header>

  <article class="">
    {# {% include "article-date.njk" %} #}
    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
