{% extends "./default.njk" %}

{% block content %}
{% include "header.njk" %}
<main class="">

  <header class="">
    <h1 class="title">{{ title }}</h1>
  </header>

  <article class="">
    {% if updated %}
      <strong>Updated:</strong>
      <time datetime="{{ updated | dateFormat(true) }}">
        {{ updated | dateFormat }}
      </time>
    {% endif %}

    {{ content | safe }}
  </article>

</main>
{% include "footer.njk" %}
{% endblock %}
